[2022-04-16 17:01] jflo commented on #3725
Am so far unable to confirm that tx 30 is the one that is breaking the receipts root. Prior theories that the block traces were relevant, no longer hold water; I attached a debugger to the mainnet-shadowfork1 host, which is looping on the bad block. With a breakpoint before the error is emitted, I can evaluate all other methods in `MainnetBlockBodyValidator` used to validate the block:
[code]
They

[2022-04-17 14:38] jflo commented on #3725
Cumulative gas used on the last receipt in the array is equal between besu and geth, so whatever is spoiling this root, I doubt it is the gas cost.

[2022-04-17 15:01] alexheat commented on #3627
I just setup my node and am trying to verify if it is working correctly. If I get this error, does it mean that the mining is working correctly and this error just means that I didn't mine that block and it is time to move on to the next block?

[2022-04-17 16:09] MariusVanDerWijden commented on #3725
109  has a really long trace in geth, while besu doesn't have any trace (in the tar that you send)

[2022-04-18 04:03] vaigay commented on #1377
Can you show me how to get hash key of each key-value in storage? Thank you very much

[2022-04-18 20:11] ccamaleon5 commented on #3374
Hello, we have the same problem. A network with IBFT 2.0 consensus and 0 gas price cannot be run on the London version of Ethereum, this is due to EIP 1559. Thus, for a network with 0 gas price, the baseFee parameter of the block header should be configurable. What do we need to do to run a network with a gas price 0?

[2022-04-19 00:11] frankisawesome commented on #3732
Hey @rinor are you able to provide more information on the network setup, genesis file used, nodes in the network etc?

[2022-04-19 00:19] #3597 closed

[2022-04-19 00:20] #3599 closed

[2022-04-19 00:31] macfarla opened #3735 "log messages in logz.io show in non-chronological order"
This makes it hard to make sense of events when looking at log messages.

logz.io timestamps seem to be aggregated - eg events are being reported with the same timestamp (to nanosecond) - are they being aggregated? eg filebeat is reporting logs every 10 seconds?

eg selecting pivot block, confirming pivot block, confirmed.

Check local logs on the actual machine - do they have different timestamps

[2022-04-19 00:34] macfarla opened #3736 "Investigate new peer selection strategy"
Try different ways to select "best" peer to download from for fast sync.

Idea: Measuring which peer responded fastest with the pivot block header.

[2022-04-19 01:10] macfarla commented on #3605
latest is 4.2.7. CI has run > 5 times with 4.2.6/4.2.7 with zero flakiness.

[2022-04-19 01:10] #3605 closed

[2022-04-19 02:14] macfarla commented on #3184
I no longer see these DEBUG messages.
besu/v22.1.3-dev-7e0d06ac/osx-x86_64/openjdk-java-11

[2022-04-19 02:14] #3184 closed

[2022-04-19 02:28] macfarla commented on #2812
I no longer get this warning.
 besu/v22.4.0-RC2-dev-24e417d4/osx-x86_64/openjdk-java-11

[2022-04-19 02:28] #2812 closed

[2022-04-19 02:37] #2709 closed

[2022-04-19 03:01] macfarla commented on #3504
@jann2005 can you share latest logs so we can see what's happening?

[2022-04-19 12:57] rinor commented on #3732
- genesis - https://github.com/dcSpark/milkomeda-evm-passive/blob/main/c1-devnet/config/genesis.json
- config - https://github.com/dcSpark/milkomeda-evm-passive/blob/main/c1-devnet/config/config.toml
- explorer/passive/rpc node (the node in question) - `cc221c7ca2670b0e39eeaeae645b813e517f31c4c4c1d28c496b80534277d372959d2af4be4cb169dce0e018c025dfb39428b8ffb80cec564d471e1c897ec6a5`
- 6 validators

[2022-04-19 23:01] jframe opened #3738 "TxPool and Tx Propogation"

[2022-04-19 23:02] jframe opened #3739 "Peering Topologies"

[2022-04-19 23:15] macfarla commented on #3668
this can be achieved right now by enabling DEBUG logging on a particular besu node. eg enable this for an hour or so and then turn back to INFO

[2022-04-19 23:17] frankisawesome commented on #3668
Turn on DEBUG for peering in Besu:
[code]

[2022-04-19 23:18] #3668 closed

[2022-04-20 00:00] #3598 closed

[2022-04-20 01:08] jframe opened #3740 "[Discovery] Understand storage engine"

[2022-04-20 01:58] frankisawesome commented on #3732
I'm unassingning myself and putting this one in the backlog, thanks for the info @rinor

[2022-04-20 06:30] ajsutton opened #3742 "Snap sync stall"
### Description
Tried a snap sync with bonsai storage on MainNet. It wound up stalling and not making any progress for many hours.   Most likely relevant section of the logs is below - it was healing the state then repivoted and that's the last I heard of any sync progress.

I've restarted it and it's now back to downloading world state nodes and importing blocks.

This is on the `dev-teku-besu-oh

[2022-04-20 08:53] ajsutton opened #3743 "Besu fails to start when storage-mode doesn't match existing database"
### Description
If I sync besu using FOREST storage format, then specify `--data-storage-format=BONSAI` without deleting the database, besu fails to start with a very cryptic message:

[code]

Besu should at least provide a meaningful error message that the existing database doesn't match.  Ideally it would continue using the existing database (possibly logging a warning). When a new database is c

[2022-04-20 09:50] ajsutton opened #3744 "Improve logging of snap sync progress"
### Description
Currently snap sync just logs a lot of:
[code]

which is overly noisy in the logs and doesn't tell me anything useful.  One of the advantages of snap sync over fast sync is that you should be able to provide a reasonable estimate of the percentage of world state download you've completed.  Ideally we'd log a message every 5-10 seconds or so that shows the current percentage complet

[2022-04-20 22:28] lucassaldanha commented on #3627
Correct! Whenever a newer block arrives, we interrupt the mining thread so it can start trying to mine the next block.

[2022-04-20 23:10] macfarla commented on #3735
timeboxed to 3 days. Talk to devops re filebeat.

[2022-04-21 03:06] macfarla commented on #3666
this is covered by #3665. no need for a separate ticket.

[2022-04-21 03:06] #3666 closed

[2022-04-21 04:04] ajsutton opened #3746 "Snap Sync Stuck on a Fork"
### Description
Running a snap sync with bonsai mode on MainNet, the snap sync process completed apparently correctly but then full sync was unable to progress because the common ancestor with peers doesn't have a world state available:

[code]

It has then been repeating messages like the one below for many hours.
[code]

Worth noting that merge support was enabled, but no TTD is set and `--netwo

[2022-04-22 03:42] matkt commented on #3746
Are you sure it's the snapsync. looking at the log it seems to me that it is the fastsync

[2022-04-22 03:43] matkt commented on #3742
Thanks for the information. Can you tell me the version of Besu used?

[2022-04-22 03:44] matkt commented on #3744
Thank you. Yes it is something planned but not yet implemented

[2022-04-22 03:56] matkt commented on #3746
Thanks. Could you tell me the version used in this test ?

[2022-04-22 04:08] matkt commented on #3746
I think the fact that there is no TTD. Can explain the problem. @fab-10 You have tested the merge part. Do you have an idea ?But it is clear we see that the common ancestor is old compared to the pivot block. So it makes sense not to have the worldstate of this ancestor

[2022-04-22 04:09] matkt commented on #3742
I think I'll give you a fix today

[2022-04-22 04:25] ajsutton commented on #3746
This is version:
besu/v22.4.0-RC2-dev-24e417d4/linux-x86_64/corretto-java-17

It seems odd to me that just having `--Xmerge-support=true` set but using the stock standard mainnet genesis file is enough to break sync.  It very definitely has `--sync-mode=X_SNAP --data-storage-format=BONSAI` so should be using snap sync from my understanding and is initially printing:
[code]
which strongly suggests

[2022-04-22 06:56] #3698 closed

[2022-04-22 08:35] fab-10 commented on #3746
According to the configuration this does not seem to be related to the merge, I can take a look at the instance to see what is happening

[2022-04-22 08:59] matkt commented on #3746
the problem is we stopped downloading new blocks after 10440000 while the pivot block is at 14621912. So we are checking for a bad state root hash. we have to know why we stopped so soon

[2022-04-22 10:00] matkt commented on #3744
Started to work on better logs

[2022-04-22 12:50] mfolnovic opened #3751 "GraalVM image - wrong folder permissions"
### Description
As an developer, I want to run GraalVM image on Kubernetes under non-root user so that I use less system resources.

### Steps to Reproduce (Bug)
1. Create quorum-test-network
2. in .env, put `BESU_VERSION=22.4-graalvm`
3. run `./run.sh`
4. run `docker exec network_validator_1_1 ls -alh /opt`, that'll be `<output1>`
5. run `./remove.sh`
6. in .env, put `BESU_VERSION=22.4`
7. run `.

[2022-04-23 16:37] #3694 closed

[2022-04-24 14:16] daniellehrner opened #3756 "Gas limit and must be 64-bit"
### Description
The gas limit in the [Ethereum yellow paper](https://ethereum.github.io/yellowpaper/paper.pdf) is defined as a natural number, see page 7 (41). While its upper limit is not specified the [Ethereum reference tests](https://github.com/ethereum/tests/tree/develop/src/TransactionTestsFiller/ttGasLimit) specify it as 64-bit value. In the current implementation we use `long` for the nonc

[2022-04-25 07:04] fahadh4ilyas opened #3758 "Besu Keeps Warn Maximum Active Connection and There Is No Way to Close Active Connection"
### Description

I have 7 nodes of blockchain network which consist of 6 validators with rpc disabled and 1 node with rpc enabled. I'm using permission contract but only for node and not for account. I'm trying to connect to 1 node that rpc connection enabled. I'm connecting to the node using python web3py. At first, the connection is succeeded. But then, the connection is blocked by the node itse

[2022-04-25 11:00] #3506 closed

[2022-04-25 11:00] #3507 closed

[2022-04-25 11:00] #3724 closed

[2022-04-25 16:14] jpnovais opened #3760 "Engine API - new method `engine_createNewBlock`"
### Description
As Rollup operator developers, we want to use Besu as an L2 chain execution engine, by leveraging the merge [execution API]. (https://github.com/ethereum/execution-apis/blob/main/src/engine/specification.md).

For a rollup to be censorship-resistant, rollup operators need to be able to create a new block with a specific list of transactions, defined externally to the operator (e.g

[2022-04-25 18:05] #3725 closed

[2022-04-25 23:13] #3665 closed

[2022-04-26 00:25] macfarla commented on #3732
Are you seeing this blocked thread logs on one node only? Is it stopping blocks from being produced or other function of the node?

[2022-04-26 00:27] macfarla commented on #3682
@kirillp Is this still happening for you?

[2022-04-26 04:02] macfarla commented on #3758
Could it be the way you're connecting using web3.py - are you creating a new connection for each request (or is this the way that web3.py is working)? What version of web3py are you using?  Can you share your web3py code so that we can try to reproduce the issue?
Alternatively - have you tried websocket connection https://web3py.readthedocs.io/en/stable/providers.html

[2022-04-26 04:10] macfarla commented on #3758
Also might be worth asking in web3py forum - if what you're seeing is a connection per request and the connections not being closed - there might be a way to close them in web3py - or it might be fixed in a later version. https://gitter.im/ethereum/web3.py

[2022-04-26 04:18] fahadh4ilyas commented on #3758
That might be it. I'm gonna try to connect using another method to see if the warning is also appeared.

[2022-04-26 07:38] rinor commented on #3732
The node in question is not a block producer node, just a passive one.
The logs are on the same node that the requester (blockscout explorer in this case) is pointed to and the state afaict right now:
- block propagation is fine
- http rpc interface responds ok
- ws rpc interface has issues/timeouts

Will check again to get more details, but also if there is smth specific you want us to check, ple

[2022-04-26 08:15] kirillp commented on #3682
Fixed

[2022-04-26 08:33] macfarla commented on #3682
Yay! Thanks

[2022-04-26 08:33] #3682 closed

[2022-04-26 09:50] kirillp opened #3762 "Besu can not finish sync with bonsai and fast-sync"
I'm using the latest Besu  (master) on WIndows with OpenJDK 17.0.2

Command line is the following

The problem is that Besu can not finish sync for many many days
After start it may print once that

And after that it will print

and N never changes.
Besu can print many many of such messages (30k times, 50k times) and the sync process does not advance unless I restart Besu

example log files
[besu.

[2022-04-26 09:56] antonydenyer commented on #3060
In addition to this validation should be performed for when you specify `validatorcontractaddress`.

You can specify

[code]

without any warnings or errors. `validatorselectionmode` should be either required when specifying `validatorcontractaddress` or inferred from it's presence

[2022-04-26 16:48] danillosl opened #3763 "ibft2 ignores --min-gas-price=0"
### Description
I'm running a 4 nodes ibft2 from the besu website but apparently the network is ignoring the `--min-gas-price=0`, even though the result of `eth_gasPrice` is `{"jsonrpc" : "2.0", "id" : 53, "result" : "0x0"}` when i try to deploy a contract with truffle i get:

[code]

And if a try to deploy with an account that has no funds :

[code]

The deploy log shows that the gas price is aro

[2022-04-26 18:55] jflo commented on #3677
Rough consensus indicates that this should return a JSON-RPC error instead of an INVALID result. Reasoning being there is nothing wrong with the block in this case, just the parameter.

[2022-04-26 23:20] macfarla opened #3764 "Revisit the onchain permissioning IllegalArgumentException"
There is a check that runs on startup - NodePermissioningControllerFactory sends a tx and logs an error if the call fails. But that is less obvious since this PR - need to rethink (reinstate) the IllegalStateException - and make any failure from this startup check more obvious

https://github.com/hyperledger/besu/pull/3697

[2022-04-26 23:22] macfarla commented on #3758
Thanks for the update - hope you find a solution that works for your use case!

[2022-04-26 23:22] #3758 closed

[2022-04-26 23:22] macfarla commented on #3504
Any update on this one @jann2005?

[2022-04-26 23:22] #3504 closed

[2022-04-27 00:25] #535 closed

[2022-04-27 00:59] jakrypto commented on #3762
I have the same issue with Linux on v22.4.0-RC1 but since v22.1.3 bonsai active.

`executio           | 2022-04-27 00:56:14.109+00:00 | EthScheduler-Services-21 (requestCompleteTask) | INFO  | CompleteTaskStep | Downloaded 278100000 world state nodes. At least 30849 nodes remaining.
execution        | 2022-04-27 00:56:14.165+00:00 | nioEventLoopGroup-3-6 | INFO  | SyncTargetManager | Found common

[2022-04-27 03:59] #3764 closed

[2022-04-27 05:42] #3751 closed

[2022-04-27 14:05] #3742 closed

[2022-04-27 14:50] kirillp commented on #3762
It finally finished for me, so we can close it (minor performance)

[2022-04-27 14:50] #3762 closed

[2022-04-27 18:43] jmcpheron opened #3767 "Set default gasLimit to 30M for mainnet"
### Description
Mainnet miners have voted to keep the gasLimit around 30,000,000 since [August 2021](https://etherscan.io/chart/gaslimit). Geth had an 8,000,000 gasLimit default on a [merge testnet which resulted in a drop in the gasLimit](https://github.com/ethereum/go-ethereum/pull/24680#issue-1200385203).

On mainnet-shadow-fork-1 this resulted in a drop from a gaslimit of 30M down to 8M.

Geth

[2022-04-27 18:56] sharad-develop commented on #3743
Unhandled nullpointer exception in RocksDB implementation causes Besu to crash  when trying to create world state block hash BonsaiPersistedWorldState.
The reason is some of the rock db columnhandles are not created. We can add warning messages in SegmentedKeyValueStorageAdapter or BonsaiWorldStateKeyValueStorage.
Let me know, I can take this up.

[2022-04-27 21:06] daragao commented on #3717
I misunderstood the effect of the `--min-gas-price` flag. I assumed that the flag would affect the gas price for every node in the network. It does not, it sets the minimum gas price for transactions received by that node.

[2022-04-27 21:06] #3717 closed

[2022-04-28 00:20] siladu commented on #3717
Thanks for responding @daragao and glad to hear you're sorted now :)

[2022-04-28 01:12] macfarla commented on #3369
There are 4 timers, 2 gauges and rollbackCount
  public RocksDBMetrics(
      final OperationTimer readLatency,
      final OperationTimer removeLatency,
      final OperationTimer writeLatency,
      final OperationTimer commitLatency,
      final Counter rollbackCount) {
...
RocksDbMetricsFactory also creates
gauge
        "rocks_db_table_readers_memory_bytes",
        "Estimated memory used for

[2022-04-28 01:24] macfarla commented on #3369
@fab-10 would it make sense to remove the timers altogether, or would it make more sense to move them to a separate category that can still be enabled when troubleshooting?

[2022-04-28 01:25] macfarla commented on #3706
I don't think we have the required info at this point

[2022-04-28 01:25] #3706 closed

[2022-04-28 02:15] sharad-develop commented on #3491
@fab-10 can you provide steps to reproduce

[2022-04-28 02:15] yenkhoon opened #3769 "./gradlew build command failed, EngineExchangeTransitionConfigurationTest failed"
### Description
 ./gradlew build command failed

<img width="1440" alt="Screenshot 2022-04-28 at 9 54 03 AM" src="https://user-images.githubusercontent.com/1153905/165662187-77d8a742-c947-48b7-a0d1-913737a0cfe4.png">

### Steps to Reproduce (Bug)
1. git clone --recursive git@github.com:hyperledger/besu.git
2. ./gradlew build command failed

**Expected behavior:**
It should be built successfully

*

[2022-04-28 02:32] macfarla commented on #3673
For clarity @helderjnpinto we are closing this issue as a duplicate - this will be addressed as part of the work for https://github.com/hyperledger/besu/issues/2689

[2022-04-28 02:32] #3673 closed

[2022-04-28 02:38] iamhsk commented on #3336
Closing this issue since it is hard to reproduce. We added additional logging for better debugging in the future.

[2022-04-28 02:44] iamhsk commented on #3624
Closing this since it is not reproducible. We believe this may get resolved as part of issue #2689. If we see this problem again, we'll open a new issue.

[2022-04-28 02:44] #3624 closed

[2022-04-28 02:53] iamhsk commented on #3400
Hi @helderjnpinto, thanks for opening this issue. Could you provide a bit more context on how you might be using the `eth_createAccessList`? What are some of the use cases? That will help us prioritize this issue better.

[2022-04-28 02:59] yenkhoon commented on #3769
I think in the documentation please include in to install solidly (brew install solidity), problem solved.

[2022-04-28 02:59] #3769 closed

[2022-04-28 05:31] jclapis commented on #3526
I just ran into this in the wild, I'm glad you posted this issue or I'd have no idea what was happening. Thank you @garyschulte!

[2022-04-28 11:43] helderjnpinto commented on #3400
hi @iamhsk this query based in [EIP-2930](https://eips.ethereum.org/EIPS/eip-2930) can be used  for multiple purposes, ex. debuging, estimateGas of transaction and can be added to transaction object to try reduce the gas caused by this [EIP-2929](https://eips.ethereum.org/EIPS/eip-2929).
Also web3.js docs here https://web3js.readthedocs.io/en/v1.5.2/web3-eth.html?highlight=accessList#id85.

[2022-04-28 14:15] #3677 closed

[2022-04-28 15:24] jpnovais commented on #3760
includeInCanonicalChain is not necessary as there is no guarantee that the block will be validated/finalised in L1

[2022-04-28 23:50] macfarla commented on #3732
If it's not affecting node operation, we are deprioritizing this for the time being. Please let us know if it does start affecting node operation.

[2022-04-29 05:22] frankisawesome opened #3775 "Missing assertions in TxPoolBesuPendingTransactionsTest"
Seems to me the first couple of tests are missing any meaning assertions on the result we're getting

[2022-04-29 07:47] rinor commented on #3732
the side-effect of this is tha all requests http/ws for historical data fail with timeout hence no operations involving those data can be completed making it impossible to use for explorers or any other application that requires such information. While the node may be operational on its own is mostly unusable for any other operation.

It looks like there is some lock/contention on the storage (no

[2022-04-29 07:52] rinor commented on #3732
We will test with the latest master again since there are a lot of changes from the latest stable release used and will provide feedback with the results.

[2022-04-29 08:32] fab-10 commented on #3369
I think we should always have the data about the latency, that is exposed by the timers, but if the comment says that collecting stats has a non negligible side effect on performance, then I am afraid that these stats could not be useful at all, because they could modify the behaviour of Besu. cc: @ahamlat on which is a tollerable overhead for collecting metrics.

At this point I am thinking that

[2022-04-29 08:43] fab-10 commented on #3491
@sharad-develop unfortunately this kind of exception is very rare, it was collected by our alerting rules on one of our canary nodes, so there is not a deterministic way to reproduce it yet. Opening this issue is more a way to keep track of it and see if others are having the same.
My approach to this kind of issues, would be to do a code analisys to spot potential concurrency issues, but this cou

[2022-04-29 09:04] rinor commented on #3732
`"Besu version: besu/v22.4.0-RC2/linux-x86_64/openjdk-java-11"` (using `hyperledger/besu:22.4.0-RC2 docker images` ) - same behavior.

[2022-05-02 14:47] megatronweb3 commented on #3763
Free gas n/w seem to work for me, all the nodes get stuck with the message - "No sync target, waiting for peers"

[2022-05-02 23:43] macfarla commented on #3498
Can you share the code you're using and the error you're getting?

[2022-05-03 03:32] sharad-develop commented on #3691
To create a log file in parallel all you need to do is add file appender to example log4j config provided at : https://besu.hyperledger.org/en/stable/HowTo/Monitor/Logging/
To the above add an appender:

<File name="FILEOUT" fileName="your_log_filename.log" append="false">
      <PatternLayout>
        <Pattern>%d{yyyyMMdd HH:mm:ss} %-5p [%t] %C{2} %F%L - %m%n</Pattern>
      </PatternLayout>
</Fi

[2022-05-03 07:22] #3744 closed

[2022-05-03 08:42] ajsutton opened #3779 "Duplicate metrics registered during snap sync"
### Description
Snap sync hit an error and then failed to recover, just entering a loop of the sequence below:

[code]

[2022-05-03 08:43] ajsutton commented on #3779
For the record the first failure was:
[code]

I'm not sure if that's the same issue I hit last time I tried snap sync or not.

Besu version is: besu/v22.4.0-RC3-dev-9ef9ff49/linux-x86_64/corretto-java-17

[2022-05-03 10:16] #3721 closed

[2022-05-03 23:19] macfarla opened #3781 "Metric for number of open RPC connections"
### Description
As a Besu system admin, I want to monitor current number of RPC connections so that I know when it's reaching capacity.

### Acceptance Criteria
* Metric for number of open HTTP RPC connections
* Also for WebSocket RPC connections

[2022-05-04 00:40] macfarla commented on #3732
Hmmm ok so sounds like it is affecting node operation in a way.
Blockscout is known to be pretty resource hungry, could it be that it is affecting things? Is it possible to separate the ws rpc interface from where blockscout is running?

[2022-05-04 03:09] sharad-develop commented on #3781
@macfarla I can take this up.
But what is the intention here ? JsonHttpService is already logging when a connection is closed and opened.
JsonRpcHttpService | Opened connection from 127.0.0.1:59854. Total of active connections: 3/80
JsonRpcHttpService | Connection closed from 127.0.0.1:59854. Total of active connections: 2/80

[2022-05-04 03:54] #3722 closed

[2022-05-04 06:15] panicstyle opened #3785 "Latest Prepared Metadata blockhash does not align with proposed block"
### Description
"Latest Prepared Metadata blockhash does not align with proposed block" INFO log called A appears, no more blocks are created.
`
{"timestamp":"2022-04-20T10:12:58,656","container":"fc53910ea2c3","level":"INFO","thread":"BftProcessorExecutor-QBFT-0","class":"QbftBesuControllerBuilder","message":"Imported #787,685 / 0 tx / 0 pending / 0 (0.0%) gas / (0xccee92b099f27035aae9e9b66c1fd5b

[2022-05-04 08:17] florolf1 commented on #3762
I have exactly the same problem.  The message
`SyncTargetManager | Found common ancestor with peer Peer 0x6247f423086bbbdc30... at block 6822809`
has been coming up for a good 20 hours now.
How did you fix the problem or did you just wait longer?

[2022-05-04 08:28] ahamlat opened #3786 "OutOfMemoryError on JSON RPC method trace_replayBlockTransactions"
### Description
As an Besu, I want to get block transactions traces when I call JSON RPC method trace_replayBlockTransactions on blocks with big transactions (> 20M Gas)

### Acceptance Criteria
* trace_replayBlockTransactions JSON RPC call displays block transactions traces

### Steps to Reproduce (Bug)
1. Create a private network of Besu nodes, set for each node these java options -Xms2G -Xmx2G

[2022-05-04 09:03] ahamlat commented on #3786
Top components :
[code]

[2022-05-04 20:42] tomasouza opened #3787 "Kubernetes Nat Manager do not print exception message (maybe is throwing a exception without message)"
### Description

As an Developer, I want to know what is the issue when starting nodes on kubernetes nat manager so that I can read what is going on with the exception raised.

### Acceptance Criteria
When running besu on kubernetes, the message bring me somenthing useful.

### Steps to Reproduce (Bug)
1. Create a EKS cluster on AWS
2. Create a Service of type load balancer with the configs in htt

[2022-05-05 02:42] joshuafernandes commented on #3787
Hi @vjtom
Thanks for submitting this. Could you post your service and pod manifest here please for us to reproduce this behaviour

We've got a repo dedicated to k8s available here https://github.com/ConsenSys/quorum-kubernetes as well, the repo has been updated recently and the docs are in the process of being updated https://github.com/hyperledger/besu-docs/pull/1030

Cheers

[2022-05-05 06:25] macfarla commented on #3781
It is being logged but this ticket is about creating a metric to track it so it can be viewed on the dashboard

[2022-05-05 09:57] rinor commented on #3732
It is and we tried that, same result. Went even further and lowered the concurrency of blockscout and the batch request sizes just to test.

Will check again that separated setup with the latest version and report back.

also https://github.com/hyperledger/besu/issues/3786 could be related (no OOM in our case since we pushed a lot more  resources)

[2022-05-05 10:00] matkt commented on #3779
the nullpointer is fixed here https://github.com/hyperledger/besu/commit/beb4e3baa32b7a918e84343b1ef08b098698ce3d

I will check for the duplicate metrics

[2022-05-05 10:16] jflo opened #3792 "Improve DNS use from Ethstats"
Besu needs DNS/IP:Port whereas others allow for just DNS and let the reverse proxy route them to the correct port. My reverse proxy forwards the traffic to the new ethstats server, but Besu doesn't like that since it tries to send traffic to the port 3000 of the specified DNS server (doesn't touch the reverse proxy then).

So I can switch to IP:Port of the new server, but I'd say this is a QoL thi

[2022-05-05 15:53] vjtom commented on #3787
Thank you @joshuafernandes for the reply,
First I have tried with the service exactly like this doc: https://besu.hyperledger.org/en/stable/Tutorials/Kubernetes/Nat-Manager-Kubernetes/
Here is the manifest
`---
apiVersion: v1
kind: Service
metadata:
  labels:
    app.kubernetes.io/name: besu
    app.kubernetes.io/release: "1.0.0"
  name: besu
spec:
  ports:
  - name: "json-rpc"
    port: 8545

[2022-05-06 01:41] macfarla commented on #3732
#3786  is related to trace_replayBlockTransactions - are you using that API?

[2022-05-06 07:26] #3519 closed

[2022-05-06 14:32] jflo opened #3796 "Excessive stale token warnings with Nimbus"
During mainnet-shadowfork-3, the Besu paired with Nimbus was flooding the logs with warnings about a stale token. Nimbus is configured to use websockets to talk to the engine api in Besu.

There should only be jwt evaluation at the establishment of the websocket connection. Subsequent messages on that socket should be considered authenticated.

[code]

[2022-05-06 14:38] jflo opened #3797 "Block Propagation continues after TTD was hit"
During mainnet-shadowfork-3, all Besu nodes seemed to continue accepting blocks over gossip from the main network, and saving them for later. This worked correctly in previous shadow forks, so is likely a regression.

[code]

Here you can see block 14716823 being saved despite switching to proof of stake at block 14716821

[2022-05-06 16:44] fab-10 opened #3798 "io.netty.channel.unix.Errors$NativeIoException: sendToAddress(..) failed: Network is unreachable"
### Description

A new exception appeared in the logs after the upgrade to version `22.4.0`

Details of the exception:

class: `PeerDiscoveryAgent`

message:
[code]

It happened 108 in the last day, and all the logged exception seems to have in common an IPv6 address, and the cause could be that in instance running Besu has IPv6 enabled, but no IPv6 address configured, so not able to reach the net

[2022-05-08 15:02] pietjepuk2 opened #3801 "snapsync/cmdline: --fast-sync-min-peers also used by snapsync"
## Usecase
I want to sync my Besu node against a single local (Geth) node, and not connect to the wider internet. To that end, I have been using the "fast-sync-min-peers" option to reduce the default of 5 to 1. If I do not do this, Besu will just wait indefinitely until it can connect to 5 nodes.

For completeness sake, my command line is `./besu --data-storage-format=bonsai --p2p-port=30303 --syn

[2022-05-08 22:58] macfarla commented on #3519
@elenaizaguirre this should be fixed now - can you try it out and let us know how it goes? Thanks!

[2022-05-08 23:44] macfarla opened #3804 "flaky test - permissioning allowlist with DNS"
eg https://app.circleci.com/pipelines/github/hyperledger/besu/14735/workflows/c9a54992-a3eb-44b7-8712-3b63e4421520/jobs/84643/parallel-runs/1?filterBy=FAILED

[2022-05-09 01:06] joshuafernandes commented on #3787
Hi @vjtom I think some of the selector labels are a bit off?

I've done the following without issue:
[code]

[code]

which gave me the logs below:
[code]

[2022-05-09 02:26] #3740 closed

[2022-05-09 03:05] jframe commented on #3785
If there are no new blocks being created then QBFT has likely waiting on a round change to produce a valid block. This time is exponentially increases until a valid block is proposed. You might need to consider restarting all your validators to get the network up and running again in a reasonable time frame.

Can you share more of the logs from before and after you saw this log message? Ideally at

[2022-05-09 05:03] panicstyle commented on #3785
Why are there no new blocks being created.

I have no Debug Log because the Log level is set to INFO.
I am not using GoQuorum, I am using Besu with QBFT.
I share my genesis file. (Some data are marked with .... .)
`{
  "config" : {
    "chainId" : 20000,
    "londonBlock" : 0,
    "contractSizeLimit": 2147483647,
    "qbft" : {
      "blockperiodseconds" : 1,
      "epochlength" : 30000,
      "re

[2022-05-09 06:15] #2959 closed

[2022-05-09 15:28] matkt commented on #3801
do you want to propose a PR for that ?

[2022-05-09 20:34] vjtom commented on #3787
If I run in INFO I have the excatly same log, could you please post one in debug please?

[2022-05-09 22:02] joshuafernandes commented on #3787
Hi @vjtom I think your labels n selectors are not quite right. Here's the logs at debug level.

[code]

[2022-05-09 22:07] joshuafernandes commented on #3787
@vjtom what happens when you manually set the NAT manager mode? https://besu.hyperledger.org/en/latest/Tutorials/Kubernetes/Nat-Manager-Kubernetes/#automatic-detection-errors

[2022-05-09 22:10] #3797 closed

[2022-05-09 22:11] vjtom commented on #3787
Look, your log is like mine, it also printed the part
2022-05-09 21:53:32.658+00:00 | main | DEBUG | NatService | Nat manager failed to configure itself automatically due to the following reason : . NONE mode will be used
2022-05-09 21:53:32.658+00:00 | main | INFO  | NetworkRunner | Starting Network.

What do you mean setting manually?
I have tried just changing the NAT modes, if you may guide me

[2022-05-09 22:15] joshuafernandes commented on #3787
Set the cli options/env  manually as per https://besu.hyperledger.org/en/latest/HowTo/Find-and-Connect/Specifying-NAT/ and see what you get.

[2022-05-09 22:18] vjtom commented on #3787
This I Already done! The same happens in AUTO or KUBERNETES.

[2022-05-09 22:19] joshuafernandes commented on #3787
:+1: @matkt could you have a look please - am not sure why this is happening

[2022-05-09 23:07] jframe opened #3810 "QBFT no empty block"
Background and specification document: https://docs.google.com/document/d/1UjefKBgnFnBqQGYZSfVr7LZxVOgrDjeO0uZVHtKSRQA/edit?usp=sharing

The QBFT consensus protocol creates new blocks on a regular basis with the time interval between blocks being a configurable parameter. This is also true in the case that none of the validating nodes has received any transaction not already included in the blockc

[2022-05-09 23:22] macfarla commented on #3600
None of the mainnet/testnet bootnodes are IPv6

[2022-05-10 03:26] iamhsk commented on #3361
Hi @fab-10, we are looking into this as part of #2689. Closing it since it's a duplicate

[2022-05-10 03:26] #3361 closed

[2022-05-10 03:30] sharad-develop commented on #3781
@macfarla please assign this to me

[2022-05-10 03:41] macfarla commented on #3781
Awesome! Assigned you @sharad-develop. Some helpful resources here https://wiki.hyperledger.org/display/BESU/How+to+Contribute And if you have questions, find us in discord https://discord.gg/hyperledger

[2022-05-10 05:04] jframe commented on #3785
Can you please share your log files. It's not possible for us to tell what's going without that.

[2022-05-10 08:00] matkt commented on #3787
looking at the log it seems it comes from this line https://github.com/hyperledger/besu/blame/ed1329cf848a9d7858d039a55add810da3c428b5/nat/src/main/java/org/hyperledger/besu/nat/kubernetes/KubernetesNatManager.java#L81
I also saw a modification of this code 4 month ago
@joshuafernandes have you already managed to get this version to work recently?

[2022-05-10 12:35] macfarla opened #3813 "Clique - add warning to not use in production"
We don't recommend Clique for use in production networks - see https://besu.hyperledger.org/en/stable/HowTo/Configure/Consensus-Protocols/Clique/#migrate-from-clique-to-another-consensus-protocol

Add a warning to besu logs when using clique to say
"We recommend Clique for use in development and test networks only. If you are running in production, please use QBFT."

[2022-05-10 16:01] #3801 closed

[2022-05-10 16:11] #3767 closed

[2022-05-10 23:21] macfarla commented on #2867
This functionality is now in Tessera. However we need a Tessera release
22.1.1 is current https://github.com/ConsenSys/tessera/releases/tag/tessera-22.1.1
Need 22.1.2 for this

[2022-05-11 01:12] macfarla commented on #3336
This has happened again for a community user https://discord.com/channels/697535391594446898/888098626264502302/972551400296968192

[2022-05-11 01:40] #2958 closed

[2022-05-11 06:13] hmijail opened #3817 "./gradlew build fails"
### Description
As an advanced user, I want to build Besu from source.

### Acceptance Criteria
* Besu builds correctly.

### Steps to Reproduce (Bug)
1. Follow the [Hyperledger wiki's](https://wiki.hyperledger.org/display/BESU/Building+from+source) quickstart: `./gradlew build`

**Expected behavior:** [What you expect to happen]
Besu builds.

**Actual behavior:** [What actually happens]
Build fai

[2022-05-11 06:54] #3798 closed

[2022-05-11 09:09] macfarla commented on #3369
Discussed with @ahamlat and it makes sense to prioritise this with his work. Removing from TeamRevenant backlog.

[2022-05-11 10:00] freemanzMrojo opened #3819 "Remove 44-byte long constraint for --privacy-public-key-file so Besu could support Tessera's EC encryptor"
### Description
As a user, I want to remove the 44-byte long constraint for `--privacy-public-key-file` so that I can use [Tessera's EC encryptor configuration](https://docs.tessera.consensys.net/en/stable/HowTo/Configure/Cryptographic-elliptic-curves/#configure-an-alternative-cryptographic-elliptic-curve).

Tessera currently supports the configuration of uncompressed SECP256r1 public keys in base

[2022-05-11 13:54] shemnon commented on #3817
Besu doesn't support building on Java 18 yet.  Please build on Java 11.

[2022-05-11 22:31] #3804 closed

[2022-05-11 22:31] #3736 closed

[2022-05-11 23:20] hmijail commented on #3817
The wiki says "Java 11+" so I just used what I had (18).

Anyway,
 - `./gradlew installDist` and building evmtool both worked with 18.
 - `./gradlew build` still fails with 11, though differently.

[code]

[2022-05-12 04:16] shemnon commented on #3817
Docs are wrong.  It's not automatically tested so this isn't suprising. It runs on 11+ but doesn't build on 11+

 It doesn't build on 17 either because of a change in one of the JDK error messages.  So an open ended build will never work because of the things the JDK likes to change.  Open eneded execution... that works and the JDK does have a commitment for that.

Fix is to update the docs.

The

[2022-05-12 05:55] macfarla opened #3824 "Clique - make the breaking change to require --Xclique-enabled"
This should be done in 22.7.0 if not before.

See #3813

The code change is in CliqueOptions, change the default value as follows:

[code]

[2022-05-12 11:34] daniellehrner opened #3827 "Missing check in engine_forkchoiceUpdatedV1 if finalizedBlockHash and safeBlockHash are valid"
### Description
The engine spec says:

These checks are currently missing and need to be added.

[2022-05-12 14:49] freemanzMrojo commented on #3819
Hi @NicolasMassart , I have adapted the acceptance tests but the ones [related to this feature](https://besu.hyperledger.org/en/stable/HowTo/Use-Privacy/Use-FlexiblePrivacy/) are failing.

On our side, it is ok if the EC encryptor does not work along with this feature, and I could accommodate the acceptance tests to run on the NaCl encryptor only (like nowadays). I have gone down the rabbit hole f

[2022-05-12 19:27] kirillp commented on #3336
My besu log full of this messages

[2022-05-12 23:49] macfarla commented on #3824
Need to check on what the EEA says about Clique - currently it's a MUST

[2022-05-13 02:20] sharad-develop commented on #3781
@macfarla PR is ready for view.
I am not sure why it complains on DCO, I seemed to have followed the specification

[2022-05-13 03:59] ronaldjmaas opened #3833 "Initial sync stuck at block 14750504"
### Description
Besu fails to sync the Ethereum mainnet chain.

### Acceptance Criteria
Besu successfully syncs with the Ethereum mainnet chain.

### Steps to Reproduce (Bug)
1. Install OpenJDK 17.3
2. Install Hyperledger Besu
3. Create empty data directory: /mnt/ethereum/besu@/main/
4. Create Systemd service file
5. Start Besu using Systemd

**Expected behavior:** [What you expect to happen]
Besu

[2022-05-13 04:10] ronaldjmaas commented on #3833
Thanks in advance

[2022-05-13 04:10] ronaldjmaas commented on #3833
Closed by accident

[2022-05-15 22:08] daniellehrner opened #3836 "EngineForkchoiceUpdated: Verify if payload attributes are valid"
Currently we are not making any validation checks for the payload parameters of a forkchoiceUpdate request. We must add the following checks:

- Client software MUST ensure that payloadAttributes.timestamp is greater than timestamp of a block referenced by forkchoiceState.headBlockHash. If this condition isn't held client software MUST respond with -38003: Invalid payload attributes and MUST NOT b

[2022-05-16 13:31] jflo opened #3838 "Merge Ready Ropsten"
### Description
As an user, I want to test Ropsten so that Besu merges correctly on it.

### Acceptance Criteria
* Users should be able to deploy a Besu node for Ropsten with minimal configuration. Ropsten is a named network, and so that should be all that a user needs to specify.

- Update Ropsten genesis to include TTD of ~~43531756765713534~~ TBD
- User should not have to also specify `--Xmerge

[2022-05-16 15:51] ronaldjmaas commented on #3833
22.4.0

[2022-05-16 15:52] jakrypto commented on #3762
I haven't found a solution and needed to switch the client.

[2022-05-16 21:19] joshuafernandes commented on #3787
Hi @matkt not been able to mate. It seems that the message re failing is hidden in debug - might be worth putting that in info too? Our charts in quorum-kubernetes use CNI for networking so we bypass this so to speak. The most recent attempt I did of this was above here where it fails silently. I'll try an older version and see how far I get mate

[2022-05-16 21:39] garyschulte opened #3841 "Testing the Merge"
### Description
An epic to track merge-related issues for long lived testnets.
Rocketpool support, ARM 64 Support

### Acceptance Criteria
* Ropsten
* Sepolia
* Goerli/Prater
* Arm images built for distribution

[2022-05-16 23:24] garyschulte opened #3842 "Remove INVALID_TERMINAL_BLOCK_HASH error"
### Description
This PR to the engine api spec has removed the INVALID_TERMINAL_BLOCK_HASH error:
https://github.com/ethereum/execution-apis/pull/217

This should be a simple change, but the change needs to be made only once hive tests are implementing this change to execution api

### Acceptance Criteria
* Replace INVALID_TERMINAL_BLOCK_HASH with INVALID
* Ensure the hive2 tests implement this ex

[2022-05-17 00:49] ajsutton opened #3843 "Besu spamming the logs with pandas pre-merge"
### Description
Spun up a new besu node on ropsten running version `besu/v22.4.1-dev-3835cb72/linux-x86_64/corretto-java-17`.

Sync hasn't even completed and the logs are continually being spammed with pandas:

[code]

The panda art should only print when the merge is complete (beacon chain hasn't even started in this case) and definitely should only ever print once.

[2022-05-17 02:54] iamhsk opened #3845 "[Spike] Investigate how peer's throughput in reputation code improves peering"
### Desired Outcome

- Adjust peer reputation based on how quickly peers are returning what we are asking for

Timebox: Run the benchmarking for 2 weeks

[2022-05-17 02:59] iamhsk opened #3846 "[Spike] Investigate SnapSync"
### Questions to investigate:

- How does snapsync work?
- How many peers are we using?
- How “busy” are we doing that? Could we use more peers?
- While we are downloading, are we still looking for more/better peers to do that?
- Does pivot block occur in snapsync?

Timebox: 3 days

### Desired outcome:

- Set up 30min-45min session with the team share out your findings on how snapsync work

[2022-05-17 03:00] macfarla commented on #3843
Should be fixed by https://github.com/hyperledger/besu/pull/3844

[2022-05-17 03:03] ajsutton commented on #3843
#3844 stops it repeatedly printing pandas but it's still printing once at startup well before the merge has happened.

[2022-05-17 04:12] iamhsk opened #3847 "[Spike] Investigate why other peers are disconnecting from us"
May help to look at how Geth manages reputation.

[2022-05-17 06:56] matkt commented on #3787
OK, thanks. because I have serious doubts about the last modification of 4 months ago which precisely affects the library

[2022-05-17 09:31] macfarla commented on #3843
From Adrian:
Also these logs from ropsten
[code]
Teku is telling me that besu has TTD set to 0x0000000000000000000000000000000000000000000000000000000000000000 which I’d expect if the ropsten config hasn’t been updated yet but not sure if it’s really set to 0 and that’s why it thinks it has been reached.

[2022-05-17 09:51] matkt commented on #3833
Could you say me if you are using fastsync or snapsync ?

[2022-05-17 13:44] ronaldjmaas commented on #3833
Fast sync

[2022-05-17 20:32] #2914 closed

[2022-05-17 20:34] garyschulte commented on #2914
Closed as this was already implemented.  Superseded by changes to the engine-api spec in #3834

[2022-05-17 21:56] joshuafernandes commented on #3787
Hi @matkt seems like the exception piece broke at 21.10.7

Ran the above files on minikube and upto 21.10.6 I get a reason, from 21.10.7 its a null value

[code]

[2022-05-17 22:04] #3619 closed

[2022-05-17 23:36] #3735 closed

[2022-05-18 03:14] iamhsk opened #3853 "Capture Baseline for peering in SnapSync"

[2022-05-18 03:23] #2662 closed

[2022-05-18 03:24] #1490 closed

[2022-05-18 03:27] iamhsk commented on #1707
@garyschulte Could you help provide a bit more context on what this issue is trying to achieve? Is this issue still relevant? If not, we'll close it.

[2022-05-18 03:34] iamhsk commented on #1850
Closing this issue since it did not affect the sync. Let us know if you notice the same problem!😊

[2022-05-18 03:34] #1850 closed

[2022-05-18 03:35] iamhsk commented on #3337
Closing this issue since Besu is working as expected.

[2022-05-18 03:35] #3337 closed

[2022-05-18 03:40] iamhsk commented on #3463
This could be potentially resolved by #2689

[2022-05-18 03:41] #3463 closed

[2022-05-18 03:42] #3482 closed

[2022-05-18 03:48] iamhsk commented on #3847
Duplicate of #3660

[2022-05-18 03:48] #3847 closed

[2022-05-18 13:08] jflo opened #3854 "Nimbus complains of eth_subscribe missing method when using websockets"
Nimbus encounters this error when trying to use Besu as an EL client.

```WRN 2022-05-17 20:30:30.819-04:00 Eth1 chain monitoring failure, restarting  topics="eth1" err="subscribeForBlockHeaders(p.web3, blockHeaderHandler, errorHandler) failed 3 times. Last error: {\"code\":-32604,\"message\":\"Method not enabled\"}"```

[2022-05-18 13:11] jflo opened #3855 "Lighthouse-besu2 stuck on block on mainnet-shadowfork-5"
[code]

No other besu clients had a problem with this block, not even another Lighthouse - Besu pair.

[code]

[2022-05-18 14:09] shemnon commented on #3855
That's just the summary line

[2022-05-18 15:14] non-fungible-nelson opened #3858 "Besu DevOps"
# Description
Host of Devops tasks associated with updating Besu related tooling for the community. Includes:
- Release of Bela
- Playbook upgrades
- Rolling performance and validation tests
- More

[2022-05-18 16:07] #1550 closed

[2022-05-18 16:28] #1240 closed

[2022-05-18 16:59] non-fungible-nelson opened #3859 "Besu Packaging & Distribution Improvements"
### Description
Packaging and Distribution Improvements for Besu Images and support on a variety of platforms. This epic will track feature development, configuration, and performance enhancements to support the goal of running Besu everywhere, with easy set-up,  with the best performance for the platform. This can include:

* Full Linux Arm64 support)
* Linea Packaging
* BeKu Packaging improvemen

[2022-05-18 17:11] jflo commented on #3855
yeah, it didn't execute the transaction. It felt the nonce was too low:

[code]

[2022-05-18 18:30] #2638 closed

[2022-05-18 18:45] #3084 closed

[2022-05-18 18:58] #3540 closed

[2022-05-18 20:23] garyschulte commented on #1707
This may be relevant to a prior DNSDiscovery implementation, but I believe it is still a viable improvement to our use of current use of tuweni's DNSDaemon.  We use DNSDaemon to periodically poll DNS txt records for ethereum nodes for the network we are on (if the dns entry exists).

I am skeptical of the first bullet item, batching. I believe a better batching behavior would be to batch the DNS q

[2022-05-18 20:53] matt-nelson-csi commented on #3843
Is this considered fixed via #3844? If we are awaiting Ropsten config, can consider this closed.

[2022-05-18 20:53] #3843 closed

[2022-05-18 21:18] SeaMonkey82 commented on #3854
Changing nimbus to use http instead of ws alleviates this issue.  It is re-enabled in the current `kiln-dev-auth` branch.

[2022-05-18 21:23] matt-nelson-csi commented on #2723
Closing for SnapSync as implemented, with incremental improvements, bug fixes, and server implementation to be tracked under epic #3643

[2022-05-18 21:23] #2723 closed

[2022-05-18 21:24] shemnon commented on #1707
The biggest gain I see is quickly finding good peers.  If we start in the middle of the trie, stream nodes one by one, and add the to the pool as we find them we can get good peering much quicker than waiting for a complete walk of the dns tree.

I did a spike while I was at Reddit and needed some stress relief.  I'll see if I can find it and post it.  I didn't use Tuweni code.

[2022-05-19 00:43] macfarla opened #3860 "GraphQL test fails with JDK 17"
test fails with JDK 17
See comment on this PR https://github.com/hyperledger/besu/pull/3536

I encountered the same error building Besu just now: "Tag number over 30 is not supported".

JDK 17 added that error more than one year ago; see here: https://github.com/openjdk/jdk/commit/3d2b4cc567777d0849818f5a4cc8fc6394a55f8d

I suggest updating the test (and the JDK on the CI machine also ^^); it seem

[2022-05-19 05:22] shemnon commented on #1707
Here's the proof of concept spike code.  Not done.  Probably not worth the effort to bring in compared to other priorites.  Possibly a good entry issue for new contributors.

[2022-05-19 08:04] fab-10 opened #3862 "Peer validation by Total Terminal Difficulty (TTD)"
### Description

The switch to PoS happens when the PoW chain total difficulty reaches the value speficied by TTD, after that event, the difficulty will never increase again, and so total difficulty will remain fixed at the last value.
It could happen that not all the Execution Clients will agree with the switch to PoS, and they could continue to follow the PoW chain, causing forks that will conti

[2022-05-19 08:25] fab-10 opened #3863 "Improve initial sync phase UX"
### Description
As an first time Besu user, I want to have informative logs so that I can understand how long it takes to complete the initial sync.

### Acceptance Criteria
* Besu should clearly show the progess of the initial sync in the logs

**Expected behavior:** [What you expect to happen]

We I start Besu for the first time, I want to easily understand how the initial sync is going by looki

[2022-05-19 08:48] fab-10 opened #3864 "Add subcommand to print configuration and status info"
### Description
As an Besu user, I want to have a command to print my current setup info so that I can easily add these info in my issue report or communicate the to the devs for throubleshooting.

### Acceptance Criteria
User can just this something like that: `besu status print` and get something like that:
[code]

[2022-05-19 09:47] Nabsku commented on #3833
Had the same issue, just with block 14802763. Using BONSAI and fast sync.

[2022-05-19 13:49] matt-nelson-csi commented on #3007
closed for consensus fixes.

[2022-05-19 13:49] #3007 closed

[2022-05-19 15:34] jorgesjv opened #3867 "Besu peers send messages exceeding the 10MB message size limit"
### Description
As an user, I want to add some nodes to a previous network running, but the new peers don't connect between the others.
It shows some errors and waiting for peers, but without connection.

### Steps to Reproduce (Bug)
1. Start a besu network and start running.
2. Set config.toml (with all enodes) and genesis files for the new nodes.
3. Start new nodes.
4. Permissioning new nodes.
5

[2022-05-19 16:21] Neurone opened #3868 "JSON-RPC: Besu does not follow the standard API for eth_getTransactionByHash"
### Description
As a developer, I want to call `eth_getTransactionByHash` so that I can get all transaction attributes defined by the standard API.

Currently, Besu does not return correctly the `blockNumber`, `blockHash` and `transactionIndex` fields when responding for pending transactions.

This causes some clients to fail during normal operations (i.e. [Deploy SmartContract to local Hyperledge

[2022-05-19 16:34] #3827 closed

[2022-05-19 17:14] #3689 closed

[2022-05-19 17:36] sharad-develop commented on #3868
This will affect - txpool_besuPendingTransactions too, as  eth_getTransactionByHash and txpool_besuPendingTransactions share the same result type - TransactionPendingResult. Do we want to apply the changes to txpool_besuPendingTransactions too or create a new result type ?

[2022-05-19 17:45] #1733 closed

[2022-05-19 18:03] fab-10 opened #3870 "BackwardSyncException: Did not receive a header for hash {}0x0000000000000000000000000000000000000000000000000000000000000000"
### Description

Running Hive test **Two Block PoW Re-org to Higher-Height Chain**, that does this:

 this exception is produced

[code]

[2022-05-19 20:33] RatanRSur opened #3873 "`eth_estimateGas` doesn't support fields `nonce`, `type`, `accessList`"
[code]

I got a little ways into adding the support but realized it would take longer than I have time for given my other tasks. I'm seeing this when using `forge` to deploy contracts.

[2022-05-19 23:15] garyschulte opened #3874 "Remove deprecated merge parameters"
### Description
Once we have TTD configs for mainnet, we should be able to remove a number of deprecated items such as:
* remove the deprecated `--Xmerge-support` flag
* remove override-genesis-config flags in BesuCommandTest

### Acceptance Criteria
* remove deprecated merge flags

[2022-05-20 13:02] #3870 closed

[2022-05-20 16:39] fab-10 opened #3881 "Engine API Update: replace INVALID_TERMINAL_BLOCK with lvh=0x00..00"
### Description
Implement the spec change documented here https://github.com/ethereum/execution-apis/commit/ec3b1be496baa94d7c22fdb841be3eddad529501

[2022-05-23 00:09] #3785 closed

[2022-05-23 01:58] rymuff opened #3883 "Contract validator throws an error after London hard fork"
### Description
Contract validator throw error after London hard fork

### Steps to Reproduce (Bug)
1. Generate `genesis.json` from example: https://besu.hyperledger.org/en/stable/HowTo/Configure/Consensus-Protocols/QBFT/#genesis-file
2. Add London block config
[code]
3. Run node

**Actual behavior:**
[code]

### Versions (Add all that apply)
* Software version: `besu/v22.4.1/osx-aarch_64/openjdk-

[2022-05-23 02:22] macfarla opened #3884 "warn user if specified sync-mode does not match expected values"
For example, this command starts a fast sync
`besu --sync-mode="bogus"`
as does this
`besu --sync-mode="-XSNAP"`

[2022-05-23 03:00] macfarla commented on #3846
Pivot block selection is exactly the same as fast sync. only the tasks are different.

[2022-05-23 03:57] himanshu007-creator commented on #3884
Hi , i would like to work on this issue. Would you guide me a bit more on what needs to be done?

[2022-05-23 04:49] macfarla commented on #3884
The help text in BesuCommand tells exactly what the options are.
[code]
If something else is specified, I would like a warning message similar to what you get if you specify a network name that's not in the list eg:
[code]
So something like:
"Invalid value for option '--sync-mode': expected one of ... but was '...'"

[2022-05-23 06:57] matkt commented on #3787
Hum, ok so it's just an exception issue. I will check why we have this kind of modification on this part

[2022-05-23 12:39] #3881 closed

[2022-05-23 15:09] fab-10 opened #3887 "Two Block Post-PoS Re-org to Higher-Height PoW Chain fails"
### Description

The *Two Block Post-PoS Re-org to Higher-Height PoW Chain* Hive test fails, because Besu is not able to download headers for blocks before the current head height

The test does this:

1. Client 1 starts with chain G -> A.
1. ForkchoiceUpdated is sent to Client 1 with A as Head.
1. Two PoS blocks are produced on top of A.
1. Client 2 starts with chain G -> B -> C.
1. Blocks A and

[2022-05-24 02:48] garyschulte opened #3890 "Merge bug: besu producing zero transaction blocks"
### Description
besu/consensus client combinations on mainnet-shadowfork-5 are producing blocks with zero transactions.

metrics indicate that besu has stopped seeing new transactions, possibly since the merge.

### Steps to Reproduce (Bug)
1. log into msnf5 node, observe transaction pool depth of 0

[2022-05-24 05:35] mcdee opened #3891 "Mainnet node desyncs: World State Root does not match expected value"
### Description
Mainnet besu node that was in sync has stopped adding blocks.  It is still active and receiving blocks, but throwing them out with a "World State Root does not match expected value" error.

As a side result of this, besu is kicking out all of the peers that disagree with it.

Confirmed that head block is stuck at the point the errors began (head at time of writing is 14833965):

[c

[2022-05-24 14:43] #3887 closed, assigned to fab-10

[2022-05-24 16:08] #2740 closed

[2022-05-24 16:28] gezero commented on #3612
This was fixed. We don't support going back however.

[2022-05-24 16:28] #3612 closed

[2022-05-24 16:29] #3512 closed

[2022-05-24 16:29] gezero commented on #3512
The BWS already supports batching.

[2022-05-24 16:35] non-fungible-nelson opened #3892 "Backwards Sync for users post-Merge"
### Description
As a user/validator, I want to be able to sync backwards from a safe head in the background so that I can begin to perform my node responsibilities as soon as the world state and some accompanying information are downloaded.

As a user of besu I would like BWS to sync my chain in the background only after my node is up and running

### Acceptance Criteria
* Works with SnapSync
* Wo

[2022-05-24 16:40] #2280 closed

[2022-05-24 16:49] fab-10 opened #3893 "Hive: Invalid Ancestor Chain Re-Org tests not passing"
### Description
Test **Invalid Ancestor Chain Re-Org, Invalid StateRoot, Invalid P1', Reveal using newPayload** is failing with this error:
[code]

[2022-05-24 16:51] #2897 closed, assigned to gezero, jflo, garyschulte

[2022-05-24 19:07] #3648 closed

[2022-05-24 20:22] garyschulte opened #3895 "Bonsai World State mismatch potential race"
### Description
Post-merge, when besu is asked to propose a block it first creates and executes an empty block before it assembles a block with transactions.  Rarely, besu will fail to execute the empty block with a stateroot mismatch, but the block it subsequently produces for the same slot will execute just fine:

See the attached log snippet for an example of this behavior on mainnet-shadow-for

[2022-05-24 21:37] sharad-develop commented on #3873
@RatanRSur  why do you want to add nonce ?
"The spec https://eth.wiki/json-rpc/API doesn't specify anything about nonce. however, other platforms like go-ethereum/GoQuorum ignore if that argument is sent." See - https://github.com/hyperledger/besu/issues/2125

[2022-05-24 21:49] sharad-develop commented on #3868
@Neurone I can this up, if you assign this to me

[2022-05-24 23:31] RatanRSur commented on #3873
Purely for `forge` compatibility. If `eth_estimateGas` could just ignore fields like `nonce`, that would be great

[2022-05-25 00:17] iamhsk opened #3897 "Investigate why peer list is not filling"
Root cause analysis of why peer list is not filling and propose a potential solution on resolving it

### Desired Outocme

- Report detailing what, when, why list is not filling
- Create future tasks/issues to resolve the issues identified by this work

[2022-05-25 08:31] Neurone commented on #3868
@sharad-develop I'm not part of the Besu team so I cannot assign tasks to others :) but I think you can start working on this with a draft PR and reference this issue in the description, so others can see that there's a WIP.

[2022-05-25 14:13] jflo opened #3899 "Improve Error Reporting when tracing under Bonsai"
### Description
As an user who is tracing a block, I want a better error message when I am exceeding the layer limit of a bonsai storage node. Current behavior just returns null.

### Acceptance Criteria
* Sensible error message returned when trying to trace.

### Steps to Reproduce (Bug)
1. run any standardBlockTrace debug method for a block older than the layer limit (512?) and observe the crypt

[2022-05-25 16:46] matkt commented on #3891
could you tell me if you see this log after the re-pivot
`Clearing bonsai flat account db`

[2022-05-25 18:06] jflo commented on #3891
and are you running this in a docker container, or just a plain java process on ubuntu?

[2022-05-25 18:31] mcdee commented on #3891
@matkt yes (see log below; let me know if you just want the entire log somewhere).

@jflo plain java process.

[code]

[2022-05-26 00:12] iamhsk opened #3901 "Refactor callbacks in the peering code"

[2022-05-26 04:22] mark-terry commented on #3659
Closing as impact of changes was inconclusive. Other changes to peering behaviour may warrant revisiting reputation scoring at a later date.

[2022-05-26 04:22] #3659 closed

[2022-05-26 07:17] jcodic opened #3902 "With sync-mode=X_SNAP actual balance isn't showing up."
### Description
Get balance returns NULL when mainnet synched using --sync-mode="X_SNAP".

### Steps to Reproduce (Bug)
Ethereum mainnet synched with --sync-mode="X_SNAP".

Command executed:
curl -X POST --data '{"jsonrpc":"2.0","method":"eth_getBalance","params":["0xbe0eb53f46cd790cd13851d5eff43d12404d33e8", "latest"],"id":53}' http://127.0.0.1:8545

Result:
{
  "jsonrpc" : "2.0",
  "id" : 53,

[2022-05-26 17:11] jflo commented on #3891
this is a longshot, but have you ever killed this instance with a SIGKILL as opposed to a SIGTERM? By ever I mean at any point since it started up in BONSAI storage mode.  I'm trying to rule out an unclean shutdown theory.

[2022-05-26 17:29] mcdee commented on #3891
@jflo no.  I should also mention that I'm seeing this issue on a second node (at a different height).  The two nodes are physically and logically separate, so not sure that a freak incident such as an unclean shutdown would be likely.

Is there anything I can run against the database to check if it is unclean, or alternatively would you like me to make a copy of the DB accessible for you to take a

[2022-05-26 17:33] mcdee commented on #3891
Also, note that I have not restarted besu since it hit this issue.  If there is no more information for me to provide you in its current state I can give it a kick and see if it picks up again.

[2022-05-26 18:50] jflo commented on #3891
getting us the DB would be ideal. We have an internal tool we can use to examine it, but it is not ready for general use.

This is the first time we have seen this issue outside of docker, but as long as you're sending SIGTERM to shut it down, then a restart should be the next thing you try.

[2022-05-26 18:57] mcdee commented on #3891
I have shut besu down and am creating a tar file of the `data` directory.  It'll be quite large (it's around 630GB uncompressed); please let me know where you would like me to send it (feel free to email me instructions if you'd prefer them not to be public).

[2022-05-26 19:06] matkt commented on #3891
can I also give you a PR with some modifications and see how this modification impacts your Besu node? to help us understand. I could propose you that tomorrow normally

[2022-05-26 19:41] matkt commented on #3891
I created the PR https://github.com/hyperledger/besu/pull/3905
If you can run it with your invalid database and send the log you have. maybe it will help me to understand what we have

[2022-05-26 23:03] mark-terry commented on #3853
Document here: https://docs.google.com/document/d/1IusmOZ82k3h_U9IOgIPhWpXD9zK4xAxq5iizL3c2cqc/edit#

[2022-05-27 05:27] #3868 closed

[2022-05-27 08:16] mcdee commented on #3891
@matkt I ran besu with #3905, output available at https://gateway.ipfs.io/ipfs/QmXrejR7SV5w94dQMekDYGiXo3wdM7o7SKjms8uyfBu2wn

[2022-05-27 11:55] yorickdowne opened #3909 "Besu does not complete snap sync, w/ bonsai tries"
### Description

Sometimes, Besu when synced from scratch on Ethereum mainnet will not succeed and then just show "Refreshing DNS record" over and over.

Some logs. I'll try this again with debug logs enabled, but chances are it'll work, as this issue is sporadic.

[code]

After this point `Refreshing DNS records with enrtree://AKA3AM6LPBYEUDMVNU3BSVQJ5AD45Y7YPOHJLEF6W26QOE4VTUDPE@all.mainnet.ethd

[2022-05-27 12:10] soragXYZ commented on #3786
Hi! Any updates ?

[2022-05-27 12:31] yorickdowne commented on #3909
After restart, Besu did complete the sync. Attaching debug logs for that run.
[besu-sync-restart-dbg.log.gz](https://github.com/hyperledger/besu/files/8786649/besu-sync-restart-dbg.log.gz)

[2022-05-27 14:49] tbondarchuk opened #3910 "enode ID is not validated for bootnodes config"
### Description

If incorrect enode ID is configured in `--bootnodes` arg, besu still joins the network even though actual nodekeys are different.

### Steps to Reproduce (Bug)
1. run `npx quorum-genesis-tool` to generate configs, with all default answers.
2. rename generated dir `mv output/* data`
3. run 4 besu nodes in different terminals as follows:
<details>
  <summary>commands</summary>

[cod

[2022-05-27 18:11] Josephhoe10 opened #3912 "Josephhoe"

[2022-05-27 20:32] mcdee commented on #3891
FYI seeing exactly the same issue on another server during initial sync.  This time it is complaining about block 14849067 rather than block 14833809 but apart from that it's the same issue.

This is an attempt to sync from genesis, first time the process has started on this server, never restarted.

There is also a second besu instance running on the same server, sync started at the same time wit

[2022-05-28 14:00] fornax2 commented on #3909
Also faced this issue (with a few more Rocket Pool node operators) where after the initial sync, some block couldn't be imported and Besu start to lag behind saving blocks for future import. Only a restart managed to fix this.

[2022-05-28 17:46] jflo commented on #3912
I assume this was a mistake

[2022-05-28 17:47] #3912 closed

[2022-05-29 09:40] diglos commented on #3863
I agree, particularly with the second one. It is very confusing. At first it seems that the sync is stucked and something is wrong.

[2022-05-29 23:36] #3853 closed

[2022-05-30 02:51] #3781 closed

[2022-05-30 08:09] matkt commented on #3902
do you have the same error with another address?

[2022-05-30 08:09] matkt commented on #3902
I can't reproduce this behavior on my node

[2022-05-30 14:04] matkt commented on #3902
do you have some logs ?

[2022-05-30 14:27] matkt commented on #3902
okay we can reproduce the issue. I will investigate

[2022-05-30 22:29] ajsutton opened #3921 "Besu failing to index event log"
### Description
On one of the EF teku-besu kiln nodes, the besu instance is failing to return one of the deposit event logs. Since the CL requires all deposit events in order Teku is complaining about this quite a lot.

This is on box 164.92.203.174

JSON RPC request is:
[code]

The broken besu instance returns:
[code]

But another teku-besu instance on kiln returns the deposit event correctly:
[c

[2022-05-31 06:41] Sky0711 commented on #3868
This issue has been solved? HyperLeger-Besu will now work with a brownie?

[2022-05-31 06:52] macfarla commented on #3868
@Sky0711 this is in the latest release https://github.com/hyperledger/besu/releases/tag/22.4.2 - let us know how you go!

[2022-05-31 07:53] matkt commented on #3902
Can you provide me with the logs of your node while you are making the call ?

[2022-05-31 16:25] jtraglia opened #3923 "CorruptedRLPInputException: Input doesn't have enough data for RLP encoding"
### Description

Sorry, I don't have many details. Ran into this issue when setting up ropsten nodes last week:

[code]

### Versions (Add all that apply)
* Software version: Besu main as of 7 days ago

[2022-05-31 16:30] jtraglia opened #3924 "RocksDBException: Invalid column family specified in write batch"
### Description

Sorry, I don't have many details. Ran into this issue when setting up ropsten nodes last week:

[code]

See this gist for a little more details. This exception would happen repeatedly.

* https://gist.github.com/jtraglia/39d6f459638f33fe66e1d2c04fe32f17

### Versions (Add all that apply)
* Software version: Besu main as of 7 days ago

[2022-05-31 20:09] jcodic commented on #3902
Resynced today, and everything works! Closing issue.

[2022-05-31 20:09] #3902 closed

[2022-05-31 22:30] garyschulte commented on #3890
This appears to be a problem that occurs at merge transition that prevents remote transactions from getting added to besu's transaction pool.  Short term, this has a very simple mitigation: just restart besu after the merge and remote transactions make it into the txpool just fine.

[2022-05-31 22:36] iamhsk opened #3925 "Node Operation Optimization"
### Problem Statement
Currently scaling up nodes is expensive because it requires large amounts of local nvme disk. Scaling is getting slower as the database size grows.

### Desired Outcome

- Reduce node operation cost for node operators
- Increase speed for scaling nodes

[2022-05-31 22:48] iamhsk opened #3926 "Performance profiling of simple Besu eth_call"
### Desired Outcome
Do performance profiling across different types of eth_call. Consider for:
- simple eth_call for ERC20 balanceOf

**Tasks**
- [ ] Evaluate tools
- [ ] Enable performance capture. Can use java flight recording using https://besu.hyperledger.org/en/latest/HowTo/Troubleshoot/Java-Flight-Recording/. Might need to increase the stack depth.
- [ ] Analyse performance result. Try and d

[2022-05-31 23:36] jframe opened #3927 "Security vulnerability scanning of java dependencies"
Add security vulnerability scanning of Java dependencies as part of the regular build. Currently Besu does use Trivy and CodeQL for scanning for security vulnerabilities. This doesn't find all vulnerabilities as  different tools use different security vulnerability databases.

Intention is to use https://jeremylong.github.io/DependencyCheck/dependency-check-gradle/index.html so this can happen as

[2022-06-01 00:01] macfarla opened #3928 "[SPIKE] Investigate GitHub Actions for calling Sonar"
Sonar via CircleCI required this setting in CI: `Pass secrets to builds from forked pull requests` which is recommend disabled for security reasons. Hence Sonar temporarily disabled
https://github.com/hyperledger/besu/pull/3922

Can we use GHA to pass the specific credentials required to run sonar?

[2022-06-01 04:39] Josephhoe10 opened #3929 "Kek"

[2022-06-01 07:27] fab-10 commented on #3863
There are a couple of option to manage the DNSTimerTask log, the simple one is to just tune our default log4j configuration to silence it, the other option is to propose a change to the Tuweni library and make its log configurable.

For the world state and the block downloads, instead we need to rethink how we show progress, and hopefully unify it, so we can have a better ETA of the whole initial

[2022-06-01 09:08] jmcruz1983 opened #3931 "Alias for --engine-rpc-http-port"
After upgrading to besu `22.4.1`,
I get following error
[code]
No breaking changes in the release notes mentioned about

Can you add an alias for `--engine-rpc-http-port`?
Thanks

[2022-06-01 09:13] #3929 closed, assigned to nobody

[2022-06-01 09:39] daniellehrner commented on #3931
This flag has been removed. The specification of the engine APIs has changed and now only one port, 8551, is used. 8551 can handle HTTP and WS connections, so only one port is needed. Because of this, I don't think it makes sense to create an alias for `--engine-rpc-http-port`, as it has been replaced by `--engine-rpc-port`. But we will definitely take more care in the future to document changes l

[2022-06-02 00:50] qntoine opened #3933 "org.rocksdb.RocksDBException: Invalid column family specified in write batch"
### Description
Using Besu through Rocket Pool (1.4.1), I am getting the following error logs when trying to sync using snap sync.
The error seems to occur once the initial snap sync is completed and the client switches to fast sync.

### Logs
[code]

### Versions
* Besu version: 22.4.2
* OS Name & Version: Ubuntu 20.04 LTS (up-to-date)
* Kernel Version: 5.4.0-105-generic
* Docker Version: 20.10.1

[2022-06-02 02:19] sharad-develop commented on #3910
It seems that the key here is the discovery-enabled=false flag. I did the below tests:

Case1: Static nodes(invalid) + discovery enabled, peers discovered

Case2: Static nodes(invalid) + discovery enabled=false, no blocks produced

Case3: Boot node(invalid) supplied in command line + discovery enabled=false, no blocks produced

Case4: Boot node(invalid) supplied in command line , peers discovered

[2022-06-02 08:13] matkt commented on #3891
After investigation, we found that there are invalid account in the database.
Normally there is a fix to avoid that in the 22.4.1 but to fix that we need to do the fastsync with this version and not only updating an existing db to this version
https://github.com/hyperledger/besu/commit/76ca97085c288f1fcac6b7867d795ed60ab87deb

[2022-06-03 03:11] sharad-develop commented on #3526
The log message now reads:

2022-06-02 22:55:11.294-04:00 | main | INFO  | Besu | Connecting to 0 static nodes.
2022-06-02 22:55:11.301-04:00 | main | INFO  | Besu | Security Module: localfile
2022-06-02 22:55:11.323-04:00 | main | INFO  | RocksDBKeyValueStorageFactory | No existing database detected at /not_allowed_to_write_here. Using version 1
Failed to retrieve the RocksDB database meta versio

[2022-06-04 15:36] jflo commented on #3890
We know why Besu has been proposing empty blocks after hitting TTD. It turns out, that incoming transactions cannot be added to the transaction pool unless besu is synced within 100 blocks of its best peer. When one of those peers is a vanilla mainnet peer, and besu is on a shadowfork, that can be a problem.

[2022-06-05 23:42] macfarla commented on #3846
SnapWorldStateDownloadProcess sets up the pipelines

[2022-06-06 02:47] panicstyle opened #3938 "Full sync error on new rpcnode"
A full sync of the new rpcnode does not proceed.

- validator node : 4
- besu version : 22.4.1

Both validator and rpcnode are configured on the same host, and are executed using docker-compose.yml.
static-nodes and permissions-nodes-config-file are also set.

Attach the rpcnode debug log.

    Setting logging level to INFO
    {"timestamp":"2022-06-05T09:21:44,768","container":"61fc5316e176","lev

[2022-06-06 08:46] matkt commented on #3924
seems to be the same issue https://github.com/hyperledger/besu/issues/3933

[2022-06-06 10:43] Cryptizer69 opened #3939 "Besu cannot find peers, Geth runs fine"
I'm running Besu through Rocketpool on a machine with more than enough CPU and bandwidth to spare but it cannot find any peers. Ports are open and when I run Geth it does so without a problem.

Edit: I'm running Besu on Goerli

![Screenshot 2022-06-06 at 12 38 40](https://user-images.githubusercontent.com/95619501/172146087-5fa789f9-a58a-4f14-b1ef-5916f769292b.png)

[2022-06-06 11:43] poupas commented on #3939
I'm having the same issues on Goerli. Mainnet runs fine.

Some potentially helpful logs

[code]

[2022-06-06 23:45] iamhsk commented on #3732
Closing this issue since no activity in the past 30 days. Feel free to reopen if further help is needed 😊

[2022-06-06 23:45] #3732 closed

[2022-06-06 23:45] iamhsk commented on #3498
Closing this issue since no activity in the past 30 days. Feel free to reopen if further help is needed 😊

[2022-06-06 23:45] #3498 closed

[2022-06-07 00:13] #3526 closed

[2022-06-07 01:29] #3924 closed

[2022-06-07 01:29] #3933 closed

[2022-06-07 02:19] macfarla commented on #3846
https://docs.nethermind.io/nethermind/ethereum-client/sync-modes#snap-sync-vs-other-sync-modes

[2022-06-07 02:21] macfarla commented on #3846
Snap protocol https://github.com/ethereum/devp2p/blob/master/caps/snap.md

[2022-06-07 05:55] macfarla commented on #3846
SnapProtocolManager - Adds "snap" to list of capabilities
PivotSelectorFromPeers - same as used by Fast Sync. No difference.
DynamicPivotBlockManager - only used by snap sync - as part of the "heal" process - filling in the gaps

[2022-06-07 13:17] fab-10 opened #3942 "Hive: Transition to a Chain with Invalid Terminal Block, Higher Configured Total Difficulty (Transition Payload)"
### Description
Test is failing with:

FAIL (Transition to a Chain with Invalid Terminal Block, Higher Configured Total Difficulty (Transition Payload)): Timeout while waiting for sync on the alternative PoW chain

### Versions (Add all that apply)
* Software version: 22.4.3-SNAPSHOT

[2022-06-07 15:07] fab-10 opened #3943 "Stop the block synchronization after the first finalized block"
### Description
The Merge spec says that an execution should behave like this after the switch to PoS:

currently Besu stop any block synchronization task when the TTD is reached, so it is not following the spec, and doing so is not able to easily recognize if a peer is still on PoW after TTD has been reached, and disconnect those peers.

### Acceptance Criteria

Keep processing and sending
* NewB

[2022-06-07 23:45] #3846 closed

[2022-06-07 23:49] iamhsk commented on #3939
User reported they were running V.22.4.2 of Besu

[2022-06-08 01:56] macfarla commented on #3939
ok it looks like there was an issue with this https://github.com/ethereum/discv4-dns-lists repo - which normally gets updated daily but was not updated for a few days - has been resolved (at least it was committed to on June 8th)

and I have started a gorli node locally, with latest besu, `besu --network=goerli --Xdns-enabled=true` and I have peers and started downloading within 10 minutes. so per

[2022-06-08 02:54] macfarla commented on #3939
Also note that 22.4.2 does not include the goerli bootnodes update from https://github.com/hyperledger/besu/pull/3857

[2022-06-08 04:43] macfarla commented on #3939
@cryptizer69 and @poupas can you try again  and let us know if you're still having this same issue?

[2022-06-08 09:02] fab-10 commented on #3942
Client 1 starts with chain G <- A, Client 2 starts with chain G <- A <- B.
Client 1's configured TTD is reached by A.
Client 2's configured TTD is reached by B.
ForkchoiceUpdated is sent to both clients with B as Head.
P1 is prepared by Client 2 on top of G <- A <- B.
`newPayload(P1)` is sent to Client 1 and verification is made that `{status: INVALID, latestValidHash: 0x00..00}`

on the #3808 bra

[2022-06-08 10:00] poupas commented on #3939
Version: **besu/v22.4.2/linux-x86_64/openjdk-java-17**
Command (running in Docker container): `/opt/besu/bin/besu --network=goerli --Xdns-enabled=true --data-path=/ethclient/besu --rpc-http-enabled --rpc-http-host=0.0.0.0 --rpc-http-port=8545 --rpc-ws-enabled --rpc-ws-host=0.0.0.0 --rpc-ws-port=8546 --host-allowlist=* --revert-reason-enabled --rpc-http-max-active-connections=65536 --data-storage-f

[2022-06-08 10:15] poupas commented on #3939
Is DNS discovery not enabled by default? Rocket Pool does not enable it specifically. Should it?

[2022-06-08 12:25] dottscarlato opened #3946 "[QBFT] Deploying a Besu testnet, blocks are not produced."
Hi there,

I am trying to run a QBFT private network, following this [guide](https://besu.hyperledger.org/en/stable/Tutorials/Private-Network/Create-QBFT-Network/#create-a-private-network-using-the-qbft-proof-of-authority-consensus-protocol).

Given that the `bin/besu` directory (as indicated [here](https://besu.hyperledger.org/en/stable/HowTo/Get-Started/Installation-Options/Install-Binaries/#lin

[2022-06-08 13:07] fab-10 opened #3947 "Extend eth_getBlockByNumber to support finalized and safe as block tags"
### Description
For The Merge the `eth_getBlockByNumber` must accept 2 new block tags: `finalized` and `safe`, as described by the spec:

[2022-06-08 14:56] Cryptizer69 commented on #3939
@poupas helped me try some commands since he got his setup working. The problem still persists in my setup. Here are some more of the same logs:

eth1_1           | 2022-06-08 14:54:24.356+00:00 | nioEventLoopGroup-3-7 | INFO  | AbstractRetryingPeerTask | No useful peer found, checking remaining current peers for usefulness: 7
eth1_1           | 2022-06-08 14:54:24.357+00:00 | nioEventLoopGroup-3-

[2022-06-08 16:57] garyschulte opened #3948 "eth_subscribe not served by execution endpoint"
### Description
eth_subscribe and eth_unsubscribe are not being served by the execution endpoint, presumably because they are not part of the execution or eth json-rpc spec.  Currently those endpoints are explicitly added in WebSocketMethodsFactory, and will likely need to be accounted for in the engine endpoint.

### Acceptance Criteria
* engine api serves eth_subscribe and eth_unsubscribe

### S

[2022-06-08 17:16] iamhsk commented on #3786
Hi @soragXYZ, thank you for following up on this. The maintainers will prioritize this and work on it in the near future.

Adding our discord conversations for reference here:

- https://discord.com/channels/905194001349627914/938504958909747250/969536062047256620

- https://discord.com/channels/905194001349627914/938504958909747250/970674116766101534

[2022-06-08 22:11] garyschulte opened #3949 "Address retesteth general state test failures"
### Description
Besu has been failing the nightly retesteth general state tests for some time now:
http://retesteth.ethdevops.io/

### Acceptance Criteria
* besu should pass the nightly retesteth general state test suite

[2022-06-08 22:58] macfarla commented on #3939
@poupas DNS is not enabled by default. Technically it's still an experimental feature so we want folks to think about it before turning it on.

[2022-06-08 23:29] macfarla commented on #3939
@Cryptizer69 it's normal to see some log messages like that especially when your node first starts, it has to find peers via discovery. From my local testing just now it does seem to be taking a bit longer to find peers with SNAP sync (as opposed to default FAST sync) - I think because there are fewer compatible peers. Does your node get past that stage and actually get to doing the sync?

If you

[2022-06-09 05:03] macfarla commented on #3786
I seem to get different behaviour:
besu/v22.4.3-dev-1c7c9ed1/osx-x86_64/openjdk-java-11
JAVA_OPTS="-Xms2G -Xmx2G" besu --config-file config/besu/besu1.conf

[code]
...
blockNumber 0xfd1
[code]
Response:
[code]

[2022-06-09 05:06] macfarla commented on #3786
I don't get OOM. looking at heap dump
jcmd pid GC.heap_dump ~/besu-heapdump0.hprof
I've got heap size 67,634,206 B - so 67M.

[2022-06-09 09:09] Cryptizer69 commented on #3939
The problem still persists.

I have a dedicated NUC 10 i7 32GB RAM, 2TB SSD.  1GB glassfiber bandwidth. Linux 20.04.

Keeps showing these logs:
eth1_1           | 2022-06-09 09:08:00.842+00:00 | Timer-0 | INFO  | DNSTimerTask | Refreshing DNS records with enrtree://AKA3AM6LPBYEUDMVNU3BSVQJ5AD45Y7YPOHJLEF6W26QOE4VTUDPE@all.goerli.ethdisco.net
eth1_1           | 2022-06-09 09:08:04.993+00:00 | EthSc

[2022-06-09 14:48] jflo opened #3951 "Clique networks do not handle ttd and finalized events."
In TransitionBesuControllerBuilder, when we make the DefaultSynchronizer and EthProtocolManager we register them as event listeners with the MergeContext. CliqueConsensus does not implement MergeContext, so that can't be done on Clique networks.

[2022-06-09 16:21] dottscarlato opened #3952 "[IBFT - 2.0] Deploying a Besu testnet, blocks are not produced"
Hi there,

I am trying to run a QBFT private network, following this [guide](https://besu.hyperledger.org/en/stable/Tutorials/Private-Network/Create-IBFT-Network/#create-a-private-network-using-the-ibft-proof-of-authority-consensus-protocol).

Given that the `bin/besu` directory (as indicated [here](https://besu.hyperledger.org/en/stable/HowTo/Get-Started/Installation-Options/Install-Binaries/#lin

[2022-06-09 21:23] ajsutton opened #3954 "Don't log pandas on every startup"
### Description
When a besu node restarts after the merge is complete it logs the giant panda banner again.  Pandas should only ever be logged once when PoS transition first occurs.

[2022-06-09 23:04] macfarla commented on #3786
@ahamlat @soragXYZ is it just the gas supplied for the transaction or is there something specific about the transaction you submitted?

[2022-06-10 06:44] macfarla commented on #3939
Thanks for the update @cryptizer69. Will investigate further.

[2022-06-10 07:03] gooooer commented on #2546
Hi guys, I'm having this same issue when I spin up my cluster of TX nodes in k8s. I have the first transaction node that is fully synced and I spawned the second node and put reference to first one via static node. The sync of the entire ledger went well. However right after second node caught up with all blocks it fired an error:

[code]

I tried to restart the second node, tried to remove static

[2022-06-10 07:39] #3947 closed

[2022-06-10 08:24] MrEtherGuy opened #3955 "Besu stops importing new blocks on mainnet"
Besu has stopped updating blocks on mainnet a couple of times recently. After a manual restart it court up with the head of the chain and contiues as normal. Im running Geth on another computer (different port) as a backup which has had no issues.

Besu v22.4.1
openJDK v11.0.15
Ubuntu server v22.04 (kernal 5.15.37)

i7 12700
32GB ram

[Log01.txt](https://github.com/hyperledger/besu/files/8877164/L

[2022-06-10 08:42] daniellehrner commented on #3955
This log line is a bit strange:
[code]
We have changed this log message a few months ago, but in your log it still show the old message format. Could be please verify that you are actually running v22.4.1? It appears to be an older version.

[2022-06-10 11:43] MrEtherGuy commented on #3955
Looks good.

curl -X POST -H "Content-Type: application/json" --data '{"jsonrpc":"2.0","method":"web3_clientVersion","params":[],"id":67}' http://localhost:8545
{
  "jsonrpc" : "2.0",
  "id" : 67,
  "result" : "besu/v22.4.1/linux-x86_64/openjdk-java-11"
}

Do you want more of the log?

[2022-06-10 13:06] jflo opened #3956 "Besu fails to startup fresh on Ropsten after merge"
More details available on discord here https://discord.com/channels/697535391594446898/984497384333643888

See attached archive of details provided:

[logsAndConfigs.zip](https://github.com/hyperledger/besu/files/8879010/logsAndConfigs.zip)

[2022-06-10 13:20] jflo opened #3957 "eth_getBlockByNumber should support latest as fcu head"
Per the definition of the `latest` tag here:

https://playground.open-rpc.org/?schemaUrl=https://raw.githubusercontent.com/ethereum/execution-apis/assembled-spec/openrpc.json&uiSchema%5BappBar%5D%5Bui:splitView%5D=false&uiSchema%5BappBar%5D%5Bui:input%5D=false&uiSchema%5BappBar%5D%5Bui:examplesDropdown%5D=false

eth_getBlockByNumber should support a `latest` tag that responds with whatever block w

[2022-06-10 14:14] ajsutton commented on #3921
Had a second instance of this on ropsten (post merge). Resolved by stopping besu, deleting all the `caches/*.cache` files and restarting besu again. So besu had the deposit log fine but created incorrect log bloom cache files.

[2022-06-10 16:33] gooooer commented on #2546
Ok, sorry for messing with this - my issue was is that time didn't sync properly between two k8s nodes. Setting up NTP on both of them to work properly solved the issue.

[2022-06-10 18:12] #3931 closed

[2022-06-10 20:47] garyschulte opened #3959 "RPC performance regression since 22.4.0-RC2"
### Description
We have had a report of RPC performance regression in besu after upgrading from 22.1.x to the latest quaarterly release versions:
![image (1).png](https://images.zenhubusercontent.com/6047871b4cf8bd5fa5c15d7b/33de5ae9-18ec-49d3-8519-172efcb5e265)

After some version bisecting it appears that the performance regression first appears in [22.4.0-RC2](https://github.com/hyperledger/bes

[2022-06-10 21:03] garyschulte commented on #3959
see [here](https://gist.github.com/garyschulte/c8918a6364e772e65c42123b5213bde7) for details to connect to the palm dev network where this can be reproduced reliably

[2022-06-13 00:45] siladu commented on #3952
Hi @dottscarlato, is there a reason you are using an older version?

This looks to be related to London fork support which was only added in version 22.1.0.

We would encourage you to use the latest version of besu to avoid bugs, current latest is https://github.com/hyperledger/besu/releases/tag/22.4.2

[2022-06-13 00:45] siladu commented on #3946
Hi @dottscarlato, see the reply here: https://github.com/hyperledger/besu/issues/3952#issuecomment-1153339532

[2022-06-13 07:28] dottscarlato commented on #3952
@siladu , thanks for your prompt response.

I had to use the version 22.10.4, because following this [guide](https://besu.hyperledger.org/en/stable/Tutorials/Private-Network/Create-IBFT-Network/#create-a-private-network-using-the-ibft-proof-of-authority-consensus-protocol), and specifically installing besu as a requirement ([here](https://besu.hyperledger.org/en/stable/HowTo/Get-Started/Installati

[2022-06-13 07:30] dottscarlato commented on #3946
I also commented on #3952 ([comment](https://github.com/hyperledger/besu/issues/3952#issuecomment-1153571075)) and pointed out that on the recent version, the `bin/besu` command has been moved somewhere else.

That's the reason I had to use an older version.

[2022-06-13 08:54] daniellehrner opened #3961 "Gray Glacier Ice Age Adjustment"
### Description
Implement featureless fork `Gray Glacier` for difficulty bomb reset

The spec is defined in [EIP-5133](https://eips.ethereum.org/EIPS/eip-5133)

[2022-06-13 21:09] mbaxter commented on #2689
Just checking on the status of this work - Is https://github.com/hyperledger/besu/pull/3945 the latest approach?

[2022-06-13 22:39] mbaxter commented on #2689
@pinges - Have you found the source of the issue?  I'm seeing a similar problem on some nodes on the Palm network.  I ran a node locally for a bit with trace logging on and was seeing a large number of peers kept in `EthPeers.connections` that were marked as "disconnected":
[code]
During normal operations, I saw this kind of behavior occassionally, but after opening / closing my laptop and moving

[2022-06-14 01:17] stan-guzik opened #3964 "ERROR CORS Rejected with Besu 22.4.2 and Metamask"
### Description
Never mind, I figured this out. I works when I add --host-allowlist="*" --rpc-http-cors-origins=all. I have open access because I'm testing and learning how to run the mode. My full command line that works is:

./besu --network=goerli --sync-mode=FAST --data-path=/home/stan/beacon/databases/goerli --rpc-http-enabled=true --rpc-http-host=127.0.0.1 --rpc-http-port=8545 --rpc-http-api

[2022-06-14 05:44] wcgcyx commented on #3627
@jflo Hi, it seems like this has already been fixed in your PR: https://github.com/hyperledger/besu/pull/3840
Should we close this issue?

[2022-06-15 02:09] siladu commented on #3952
Hi @dottscarlato. That guide should work with the latest version of besu as well.

I downloaded the binaries for both 21.10.4 and the latest stable version, https://github.com/hyperledger/besu/releases/tag/22.4.2

Both had a working `bin/besu` binary in the same location.

Are you able to try again downloading using one of these links:
https://hyperledger.jfrog.io/artifactory/besu-binaries/besu/22

[2022-06-15 05:15] beaconalerts commented on #3955
This occured again a couple of hours ago. I've attated a larger log dump over the outage.
[Log03.txt](https://github.com/hyperledger/besu/files/8905857/Log03.txt)
.

[2022-06-15 05:31] MrEtherGuy commented on #3955
This occured again a couple of hours ago. I've attated a larger log dump over the outage.
[Log03.txt](https://github.com/hyperledger/besu/files/8905933/Log03.txt)

[2022-06-15 14:34] daniellehrner opened #3966 "fcU: Remove check if new finalized is descendant from the previous one"
### Description
Currently we are checking in a call to `engine_forkchoiceUpdatedV1` if the new block referenced by  `finalizedBlockHash` is a descendant of the previous one. This check should not happen, as it is the responsibility of the CL client to check this. The conversation about this was [here](https://discord.com/channels/595666850260713488/986623201230618645/986628858998575124).

[2022-06-15 16:56] #3961 closed

[2022-06-15 21:45] iamhsk opened #3968 "Identify Bottlenecks for Archive Node Sync"
### Context
For some node operators, it's been taking almost 6 months to sync an archive node. We believe this is taking way too long and would like to investigate the root cause of this slowness so that we can improve the sync time.

### Desired outcome
- Set up an archive node with metrics, logs, performance profiling so that we can monitor and identify anomalies in syncing speed
- Identify root

[2022-06-16 01:48] pinges commented on #2689
@mbaxter This should get fixed with the changes that I'm doing. The main map holding the peers in EthPeers will use the peerId instead of the connection as the key. There will be another map containing potential new peers that haven't exchanged the status messages yet, and another one that will hold some peers that were already usable, but are replaced because of another connection from that peer,

[2022-06-16 01:55] macfarla commented on #3928
there are 3 test failures with ClassCastException
[code]

[2022-06-16 04:08] macfarla commented on #3939
Are you still having the same problem @Cryptizer69 - it seems like goerli has been a bit up and down. Also there might be some helpful suggestions here on DNS issues https://github.com/hyperledger/besu/issues/3290#issuecomment-1017825090

[2022-06-16 04:27] CaixiangFan opened #3971 "How does a Besu validator exactly select transactions from txpool to generate a block?"
### Description
I am researching the performance of Besu with PoA consensus. I created a free gas private network and set the block gas limit to the max. Expected all submitted txs to be selected and wrapped into a block under a moderate tx load. But, from the logs, I found that Besu proposer didn't selected as many txs as expected.

### Acceptance Criteria
* Under low tx rate (tx/s), all txs in t

[2022-06-16 07:51] dottscarlato commented on #3952
@siladu you are completely right.

I was cloning the entire GitHub repo (and I was trying to compile it with `gradle` but unsuccessfully ).

Now downloading the binaries I could find the `bin/besu` executable.

Sorry for the misunderstanding, and thanks for your clear explanation.

[2022-06-16 14:13] jflo commented on #3890
It seems this functionality has caused about a 50% reduction in the number of peers that Besu can maintain on Ropsten.  Reopening to investigate and address.

[2022-06-16 15:47] mbaxter commented on #2689
@pinges - have you found the root cause of the mismatch between `EthPeers.connections` and `RlpxAgent.connectionsById` ?  `RlpxAgent` is the source of truth wrt connection management, so this should just be an issue related to how connection / disconnection events are communicated and handled between these 2 objects.

[2022-06-16 16:45] matt-nelson-csi commented on #3863
User's have also mentioned that the initial sync should echo some/all of their configuration options (without exposing Auth) to confirm what sync mode, storage mode, and more they have chosen. I think this could be useful as Besu initializes to re-assure users their configuration was done properly (or that it was not and they should reinitialize sync). I also think we should print logs with regard

[2022-06-16 23:21] #2069 closed

[2022-06-16 23:59] iamhsk opened #3980 "Investigate mechanism to detect peer disconnect event"
### Context
Anecdotally we've been hearing that other Ethereum client nodes are disconnecting Besu nodes. If this is true, this will affect Besu's ability to hear about transactions fast and undermine decentralization and security. However, these have been only anecdotal stories and we don't have a specific incident where we can investigate the root cause. This GH issues is attempting to set up to

[2022-06-17 00:00] iamhsk opened #3981 "Peer cycling mechanism"

[2022-06-17 00:00] iamhsk opened #3982 "Peer reputation scoring"
### Desired Outcome
- Propose a reputation scoring system to the team, incorporate feedback, and implement the reputation scoring system
- After implementing the scoring system, compare the snapsync completion time to the baseline metric captured in #3853.
- Measure how much of a positive or negative improvements we have made after the change in the scoring system
- We'd like to optimize the scori

[2022-06-17 07:40] fab-10 commented on #3863
@matt-nelson-csi [this ticket](https://github.com/hyperledger/besu/issues/3864) is related to your comment.

[2022-06-17 08:41] rinor commented on #3334
Closing this since the mentioned config change works properly.

[2022-06-17 10:01] daniellehrner opened #3986 "Clear log message when data path is not accesible"
### Description
[A user on Discord](https://discord.com/channels/697535391594446898/888098626264502302/987283880123969596) had the following error message after a fresh start of Besu:

The error is misleasing, as the cause of the error was a missing `data-dir` directory and / or wrong permissions. We should check that the `data-dir` directory exists and is accessible at startup and log the correct

[2022-06-17 14:50] zilm13 commented on #3956
I think I have similar problem in Teku acceptance test, could provide any level of logs.
Test flow:
Teku1 (all vals) -> Besu1 (mining)
Teku2 (no vals, connected to Teku1) -> Besu2 (connected to Besu1)
[..waiting for merge to happen..]
Besu2 - DB erased, restarted
Teku2 - wait for optimistic import, success
Besu2.addPeer(Besu1)
Now sync between Besu1 and Besu2 begins from empty DB. For 22.4.1 it fa

[2022-06-17 16:53] zilm13 opened #3988 "Besu fails to sync after the merge with empty DB"
### Description
Besu fails to sync when I delete DB after the merge and start syncing again

### Steps to Reproduce (Bug)
I have an issue in Teku acceptance test, could provide any level of logs.
Test flow:
Teku1 (all vals) -> Besu1 (mining)
Teku2 (no vals, connected to Teku1) -> Besu2 (connected to Besu1)
[..waiting for merge to happen..]
Right after Merge:
Besu2 - DB erased, restarted
Teku2 - wa

[2022-06-17 19:59] zilm13 opened #3990 "JWT Authenticated RPC not working via Websockets"
### Description
I've tried to use engine and `eth` api space on authenticated RPC via Websockets and Besu responds with following errors on any requests: `{"jsonrpc":"2.0","id":127,"error":{"code":-40100,"message":"Unauthorized"}}`. If I change it to `http://` on the same port, it works like a charm.

### Steps to Reproduce (Bug)
I use following settings to enable RPC API in test:
[code]

**Expect

[2022-06-18 08:00] ronaldjmaas commented on #3833
Besu 22.4.2 successfully synced starting from scratch using fast sync

[2022-06-18 08:00] #3833 closed

[2022-06-19 23:00] siladu opened #3991 "Only berlin fork works when deploying ERC1400 on a zero gas network"
### Description

A report from Discord:

* can you try adding this line to the genesis file "baseFeePerGas": "0x0"?

### Acceptance Criteria
* [Criteria 1]

### Steps to Reproduce (Bug)
1. [Step 1]
2. [Step 2]
3. [Step ...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

**Frequency:** [What percentage of the time does it occur?]

### Versions (Ad

[2022-06-19 23:07] siladu commented on #3991
It's possible that the contracts being deployed require Berlin and later to get the necessary opcodes, but there's a bug in the london (or later) fork.

[2022-06-20 00:33] #3952 closed

[2022-06-20 00:33] #3946 closed

[2022-06-20 00:34] usmansaleem commented on #3946
Closed due to #3952

[2022-06-20 03:37] siladu commented on #3991
This could be relevant https://github.com/ConsenSys/UniversalToken/issues/130

[2022-06-20 03:47] siladu commented on #3334
Hi @rinor if you are OK with it, I'll reopen as this is the issue we are using in our backlog to track the feature request.

[2022-06-21 08:59] ricardolyn opened #3996 "Fast sync fails with Max Retries reached and backward sync keeps waiting for pre-conditions"
### Description

When setting up a Besu node to sync with the Kiln network and connected to a Lighthouse Beacon, we keep having issues with syncing (using FAST sync mode) and finding peers.

### Steps to Reproduce (Bug)
1. Configure a Besu node for Kiln
2. Configure a Lighthouse beacon for Kiln, and set the Execution client as the Besu node.
3. Start both services

**Expected behavior:** [What you

[2022-06-21 12:46] Neoblock8 opened #3998 "Migrate hyperledger besu node in private network"
Hi,

Already Running local network besu in a server.More than 1Lakh of blocks and 1000's of transactions are produced.
Can i migrate the old server node into new server?

[2022-06-21 12:51] daniellehrner commented on #3998
As long as you copy the database and your configuration is the same as well, there should not be a problem.

[2022-06-21 14:24] Cryptizer69 commented on #3939
Yes, I let Besu run for 3 hours this afternoon and it still won't sync. I'll drop Besu for now and will check again in the future. Thanks

[2022-06-21 16:07] matt-nelson-csi commented on #3964
Closed based on user input

[2022-06-21 16:07] #3964 closed

[2022-06-21 16:10] matt-nelson-csi commented on #3938
Hi there @panicstyle - Can you provide us more info about your set-up here? Can we have your startup info/config for your consensus client if you are running proof of stake? And also your Besu config will also be helpful for this.

[2022-06-21 23:36] bwtimmermans commented on #3891
FYI I think I have a variation of this problem. I updated from 22.4.2 to 22.4.3, although in my case I was some way behind the chain head since I had the node down for some days previously. "World State Root ..." errors periodically, however, my chain is actually syncing, but really slowly. Restarts do not help.

$ ./bin/besu --version
besu/v22.4.3/linux-x86_64/oracle-java-18

$ java --version
jav

[2022-06-22 04:24] siladu commented on #3883
Hi @rymuff, apologies for the slow response.
Assuming you are running a [free gas network](https://besu.hyperledger.org/en/stable/HowTo/Configure/FreeGas/), can you please try adding "baseFeePerGas" to the genesis file...

[code]

[2022-06-22 08:00] daniellehrner commented on #3998
With masternode do you mean a bootnode?

And all the nodes are running one separate servers, don't they? You have to copy them one by one, each on a separate new server.

[2022-06-22 10:29] #3883 closed

[2022-06-22 14:13] #3942 closed

[2022-06-23 10:13] daniellehrner opened #4007 "Implement liveness check"
Besu offers a [liveness RPC endpoint](https://besu.hyperledger.org/en/latest/HowTo/Interact/APIs/Using-JSON-RPC-API/#liveness). But the endpoint does not do any check and just returns that is is `UP` no matter what: [source code of the check](https://github.com/hyperledger/besu/blob/ed1329cf848a9d7858d039a55add810da3c428b5/ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/health

[2022-06-23 10:14] ricardolyn commented on #3895
We noticed this issue in one of our Besu instances.

Important to mention that the Node didn't enter an unhealthy state. The node was not in sync anymore, so it should have gone to an unhealthy state what that happened.

[2022-06-23 10:16] ricardolyn commented on #3895
@daniellehrner created my comment simultaneously as I wrote the comment above: https://github.com/hyperledger/besu/issues/4007.

Thank you 👍

[2022-06-23 10:39] ajsutton commented on #4007
That's typically all a liveness endpoint does.  Something context dependent such as reporting if the node is in sync or not is usually a separate health check endpoint. Both are useful in different situations (ie you want a docker container to consider itself started once the liveness check passes - it would time out long before the node finishes syncing and the health check returns OK).

[2022-06-24 13:17] callree opened #4012 "요건몰랐네"
### Description
As an [Actor], I want [feature] so that [why].

### Acceptance Criteria
* [Criteria 1]

### Steps to Reproduce (Bug)
1. [Step 1]
2. [Step 2]
3. [Step ...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

**Frequency:** [What percentage of the time does it occur?]

### Versions (Add all that apply)
* Software version: [`besu --versio

[2022-06-25 03:45] 73649 opened #4014 "Add version in metric"
### Description
As a user, I want to see Besu's _version_ in Grafana dashboard so that I can check easily.

[2022-06-25 12:37] Neoblock8 opened #4015 "Sync failure in besu node"
Hi,

I have an syncing issue while connecting with validator node.

**Commands:**
**Node1:**
besu --data-path=data --genesis-file=../genesis.json --rpc-http-enabled --rpc-http-api=ETH,NET,IBFT,WEB3,ADMIN,MINER,DEBUG,TRACE,TXPOOL --host-allowlist="*" --rpc-http-cors-origins="all" --rpc-http-port=8545 --rpc-http-host=0.0.0.0 --rpc-http-max-active-connections=100000

**Node2:**
besu --data-path=data

[2022-06-26 05:29] esumit opened #4016 "What is Q in QBFT in hyperledger besu?"
I read through all specifications of https://entethalliance.github.io/client-spec/qbft_spec.html, and also https://besu.hyperledger.org/en/stable/

It talks about QBFT, but nowhere exactly mentioned what is Q?
BFT is for Byzantine Fault Tolerant, Assuming Q means Quorum here?

[2022-06-27 01:18] gfukushima commented on #3884
Hi @macfarla I've added a PR for this issue. (https://github.com/hyperledger/besu/pull/4017)
This is my first contribution to the project.
Please let me know if I've missed anything.

[2022-06-27 23:35] influ7 commented on #3988
Wow

[2022-06-27 23:53] #3884 closed

[2022-06-28 02:58] macfarla commented on #4014
Fixed by https://github.com/hyperledger/besu/pull/3997

[2022-06-28 02:58] #4014 closed

[2022-06-28 02:59] macfarla commented on #4012
closing this one since there is no content - @callree feel free to open a new ticket if you're having an issue!

[2022-06-28 02:59] #4012 closed

[2022-06-28 05:19] siladu commented on #4016
Hi @esumit, not sure this is the official answer but yes I would say it stands for Quorum.
QBFT is implemented by both Besu and [GoQuorum](https://consensys.net/docs/goquorum/en/latest/configure-and-manage/configure/consensus-protocols/qbft/) and both these products are part of the [Quorum](https://consensys.net/quorum/faq/) product suite.

That means you could run a mixed network of Besu and GoQu

[2022-06-28 06:31] esumit commented on #4016
Thanks @siladu

[2022-06-28 07:44] #3702 closed

[2022-06-28 07:44] #3756 closed

[2022-06-28 07:51] jrusselg commented on #3991
Hi all, this is the issue that I faced. Dropping the genesis and config files I'm using here.

Config
data-path="IBFT_nodes/node-e/data"
genesis-file="IBFT_nodes/genesis.json"
rpc-http-enabled=true
rpc-http-api=["ETH","NET","IBFT"]
rpc-ws-enabled=true
rpc-ws-api=["ETH","NET","IBFT"]
host-allowlist=["*"]
rpc-http-cors-origins=["*"]
sync-mode="FULL"
#fast-sync-min-peers=1

#miner-enabled=false
#mine

[2022-06-28 07:53] jrusselg commented on #3991
Issue is resolved when using "berlinblock" instead of "arrowglacierblock" or anything earlier like byzantium or constantinople.

[2022-06-28 08:18] daniellehrner opened #4021 "Sepolia merge ready config"
### Description
Add Sepolia TTD and the DNS config to it to make it ready for the Merge.

[2022-06-28 09:30] #4021 closed

[2022-06-28 12:13] daniellehrner opened #4025 "Add type when serializing legacy transactions"
### Description
Currently when we are serializing transactions to JSON we omit the field `type` for legacy transactions. According to the spec we must include it and set the value to `0x0`.

[2022-06-29 02:37] siladu commented on #3700
Hi @fahadh4ilyas, apologies for the slow response. I have been unable to recreate your issue using the latest version of besu with the config you provided.

I believe that you might have seen a regression which was fixed in https://github.com/hyperledger/besu/releases/tag/22.1.2 (namely https://github.com/hyperledger/besu/pull/3397). Before this fix, with your configuration, besu would accept a tr

[2022-06-29 07:51] AdamRylski opened #4028 "trace_transaction returns internal error for fast synced node with pruning"
### Description
I would like to fetch traces for transactions with method `trace_transaction` for each transaction in block. I'm good with the latest blocks only (like 2-3 days retention in case of emergency), so I wanted to use fast-synced node with `pruning` option.
### Acceptance Criteria
* Node is returning traces for blocks in pruning range (latest X blocks)
### Steps to Reproduce (Bug)
1. Se

[2022-06-29 08:10] #4025 closed

[2022-06-29 10:22] 3cl1ps opened #4029 ""World State Root does not match expected value" & InvalidBlockException"
Hey, i got many errors :
World State Root does not match expected value, header
InvalidBlockException: Failed to import block: Invalid block at

while synchronizing, should delete everything and restart ?

full log at https://termbin.com/wqfq

### Steps to Reproduce (Bug)
I'm running besu on ubuntu 5.13.0-44 as a service.

exec command is :
/data3/besu/bin/besu --data-path /data3/ --data-storage-f

[2022-06-29 10:51] AdamRylski commented on #4028
I've found similar case here https://github.com/hyperledger/besu/issues/2628, but we are already using the latest version

[2022-06-29 18:01] garyschulte opened #4030 "TransactionPool errors in log during initial sync"
### Description
Besu should ignore remote transactions when it is syncing, but during sync (checkpoint sync in this case) besu is logging errors trying to add remote transactions to the transaction pool:

[code]

### Acceptance Criteria
* when besu is performing the initial chain sync, remote transactions should be ignored

### Steps to Reproduce (Bug)
1. start besu with checkpoint sync on mainnet

[2022-06-30 00:19] siladu commented on #3817
Since it's still failing for Java 11...this is likely a mac-specific issue in the way it constructs the hostname. Maybe we could add a special case for mac OS in EnodeURLImplTest. I think something similar has been done before.

[2022-06-30 01:06] shemnon commented on #3817
It's not mac specific.  The library changed the text of the error message and the unit tests check for a specific error message not just an exception type.

https://github.com/hyperledger/besu/pull/3953/files#diff-971ce2f56b9dde5397e2e45beba8da49366dc9eb49e214bae6f9bbc8b46614c2R193

[2022-06-30 05:45] #3763 closed

[2022-06-30 09:02] siladu commented on #3817
Not sure if we're talking about the same test.

When I run `EnodeURLImplTest` on my mac, `toURI_WithHostnameShouldWorkWhenDnsEnabledAndUpdateEnabled` fails with an unexpected exception rather than an assertion failure.

[code]

[2022-06-30 09:25] siladu commented on #3374
Hi @soragXYZ and @ccamaleon5 I believe this PR should fix this issue: https://github.com/hyperledger/besu/pull/4003

It's available on the main branch and hopefully it'll make it into the next release.
In addition to the code in the PR, you must also include `"baseFeePerGas": "0x0"` at the top level of the genesis file.
We will update the documentation to reflect this.

Please reopen or create a n

[2022-06-30 09:25] #3374 closed

[2022-06-30 09:25] siladu commented on #3763
Hi @danillosl I believe this PR should fix this issue: https://github.com/hyperledger/besu/pull/4003

It's available on the main branch and hopefully it'll make it into the next release.
In addition to the code in the PR, you must also include `"baseFeePerGas": "0x0"` at the top level of the genesis file.
We will update the documentation to reflect this.

Please reopen or create a new issue if the

[2022-06-30 09:28] #4016 closed

[2022-06-30 12:08] shemnon commented on #3817
That one is not mac specific, it's local config specific.  Your hostname has a `+` in it ('sdudley+mbp`), which per RFC-2396 is a reserved character in URIs.  '

Per section 3.2.2 there is no escapable format for a hostname with a `+` in it, as it is an invalid character in a hostname.
[code]

[2022-06-30 23:38] #3948 closed

[2022-07-01 00:19] macfarla opened #4036 "discovery v5 support"
- [ ] investigate how to utilise the discv5 library https://github.com/consensys/discovery
- [ ] review Teku code for how to utilise the discv5 library
- [ ] add a hidden, experimental config option --Xdiscv5-enabled default false
- [ ] implement discv5 handling
- [ ] ensure no regression - we still need to support discv4 (this is the default for geth)
- [ ] test on testnets - start with sepolia?

[2022-07-01 05:59] siladu commented on #3954
Here's an example of the logs leading up to this issue, taken from a post-merge ropsten node that was restarted...

[code]

[2022-07-01 07:03] 3cl1ps commented on #4029
resolved by itself, maybe after restarting.

[2022-07-01 12:21] daniellehrner commented on #4029
I'll close the issue for now. Please fell free to re-open it, should it happen again.

[2022-07-01 12:21] #4029 closed

[2022-07-01 14:34] jflo commented on #3943
PR 3944 has been reverted, re-opening issue.

[2022-07-01 18:23] #4030 closed

[2022-07-01 18:47] #3957 closed

[2022-07-01 19:15] #3990 closed

[2022-07-01 22:33] matkt commented on #3713
I'm currently working on it

[2022-07-02 00:11] SeaMonkey82 opened #4043 "Besu fails to create db if `--data-path` is a symlink and there is no existing db"
[code]

[2022-07-02 19:44] isahaq65 opened #4046 "Can I implement"
### Description
As an [Actor], I want [feature] so that [why].

### Acceptance Criteria
* [Criteria 1]

### Steps to Reproduce (Bug)
1. [Step 1]
2. [Step 2]
3. [Step ...]

**Expected behavior:** [What you expect to happen]

**Actual behavior:** [What actually happens]

**Frequency:** [What percentage of the time does it occur?]

### Versions (Add all that apply)
* Software version: [`besu --versio

[2022-07-02 19:58] isahaq65 commented on #4046
I am  newbie at hyperledger Besu. I wanna implement  ERC-721 tokenization for private network using hyperledger Besu. But I cannot find any documentation to implement. Is it possible or not. ? If possible , how can I implement?

[2022-07-02 19:59] #4046 closed

[2022-07-02 20:10] isahaq65 opened #4047 "Can I implement ERC token standards for private network on Hyperledger Besu?"
I am newbie at Hyperledger Besu. I wanna implement ERC-721 token standards for asset tokenization on private network using hyperledger Besu. Is it possible or not? If possible , how can I implement or any suggestion?

[2022-07-03 20:17] lfinbob commented on #3939
I have the same issue on goerli as @Cryptizer69: Not syncing, even after 24 hours.

Version: hyperledger/besu:22.4.3-openjdk-latest (via rocketpool 1.5.0 alpha 3).
Command line:

I tried adding --Xdns-enabled=true but it doesn't help.

Port 30304 TCP and UDP is open, verified with tcpdump and nmap from an outside host.

Some log excerpts:

t peers for usefulness: 1
2022-07-03 20:09:40.424+00:00 |

[2022-07-04 00:24] siladu commented on #3700
Closing for now, please reopen if you're still experiencing issues with the latest version of besu.

[2022-07-04 00:24] #3700 closed

[2022-07-04 01:03] ronaldjmaas opened #4048 "Sync fails after reaching last PoW block on Ropsten network"
### Description
Besu throws and exception when trying to sync after reaching final PoW block and fails to synchronize to head on the Ropsten network. Restarting Besu did not resolve this.

### Acceptance Criteria
Successfully synchronizes to head on Ropsten network

### Steps to Reproduce (Bug)
1. Copy snapshot of both Besu data and Lighthouse data that were created on 4 Jne 2022 (a few days befor

[2022-07-04 10:59] Jakeler opened #4050 "Unable to trace_block [0xbe70da] - error 500, blocks whole node"
Besu is unable to return traces for one specific block on ropsten, which makes it unusable for indexing transaction from traces.

### Steps to Reproduce (Bug)
1. launch Besu+Teku on ropsten
2. wait for it to be fully synced (both Eth1 and beacon API return syncing = false)
3. request traces for block https://ropsten.etherscan.io/block/12480730
[code]
[code]
**Expected behavior:**
Should return tra

[2022-07-04 11:20] daniellehrner commented on #4050
Looking at this block there is one VERY big transaction that uses more than 15 million gas and executes more than 1200 static calls: https://ropsten.etherscan.io/tx/0x877f7cfe8ac00ec1c87300d9d8890bb05692a429cbbfc973d39cf6155b5b67eb

My guess is creating the trace for it is very compute intense and is blocking the node. We need to look into this to confirm this theory and see if we can optimize tha

[2022-07-04 14:28] daniellehrner commented on #4047
Besu is an Ethereum client. Any smart contract that is compatible with Ethereum can be executed no matter if is a public or a private network. So yes, you can use ERC-721 token in a private network without problems.

As this is not a issue with Besu itself, I will close it. If you have any further questions, please don't hesitate to reach out on Discord: https://discord.com/channels/90519400134962

[2022-07-04 14:28] #4047 closed

[2022-07-04 14:29] daniellehrner commented on #4043
Thank you for reporting the issue. We will look into it.

[2022-07-04 17:33] Jakeler commented on #4050
Also something similar happened a while ago:
https://ropsten.etherscan.io/block/12080598
https://ropsten.etherscan.io/tx/0x249c9d5f2a5784d13bdae569f51f07298763fab2c3e2e842615e90e1095b52ba
Although this was limited to 3 mio. gas and not a problem for the exact same node - it returned 177 MB of trace json.

We are also wondering, whoever tested this if he is planning to send something like this on m

[2022-07-04 17:49] lfinbob commented on #3939
Since @macfarla mentioned that the SNAP syncmode can find less peers, I tried `--sync-mode=fast` as well. Still same problem, after 16 hours still stuck at this:

[2022-07-04 21:00] daniellehrner opened #4051 "fcU: Ignore if newHead references an ancestor of chain head"
### Description
The spec says:

Right now we are rolling back the chain if we receive an ancestor of our chain head. We need to check if the newHead is indeed an ancestor of chain head and ignore the update in such a case.

[2022-07-04 21:51] SeaMonkey82 opened #4052 "Unable to process block because parent world state is not available"
I ran into this error with ropsten-lodestar-besu, with besu on a commit from the main branch pushed within the last few days, and besu was unable to recover until I deleted the besu database and resynced.

[code]

[2022-07-05 04:56] siladu opened #4053 "Simplify Free Gas Network Configuration"
This PR was recently merged https://github.com/hyperledger/besu/pull/4003

However the end result is a clunky UX for configuring gas free networks. It would be good to get this right before updating the documentation: https://besu.hyperledger.org/en/stable/HowTo/Configure/FreeGas/#3-start-besu-with-a-minimum-gas-price-of-zero

It would be good to make this simpler and more explicit, e.g. a single

[2022-07-05 06:07] mark-terry opened #4054 "Implement mechanism that encourages new node participation in stable networks"
### Description
Stable networks present a challenge for initial peering. On Goerli (for example) Besu may experience slow sync rates and take many hours to fill its peer table; while receiving a large volume of P2P responses indicating the remote peer's peertable is full.

One approach to resolve this issue might be to implement a mechanism where Besu reserves part of its peertable capacity for ne

[2022-07-05 06:18] sirano11 commented on #1942
Hi, @vmichalik @pinges
Can you tell me if this behavior is intended or not? If this is a bug, can you tell me if there are any plans to fix it?

[2022-07-05 06:50] parithosh commented on #4052
Are you running Besu in a docker container by any chance?

[2022-07-05 14:24] #3867 closed

[2022-07-05 16:19] #3891 closed

[2022-07-05 16:21] matkt commented on #3909
We just merged a fix for that. thanks for your issue

[2022-07-05 16:21] #3909 closed

[2022-07-05 16:32] matkt commented on #3895
fixed by #4013

[2022-07-05 16:32] #3714 closed

[2022-07-05 16:41] matkt commented on #3155
fixed by #3835

[2022-07-05 16:47] #3874 closed

[2022-07-05 16:53] matkt commented on #4015
what is the version of Besu you are using during this test ?

[2022-07-05 16:54] ahamlat opened #4057 "Big memory consumption on RocketPool nodes"
### Description
Some users from RocketPool with nodes less than 16 GiB are facing some memory issues. Besu node is then killed by OOM killer until next time, Besu reaches some threshold and killed again.
Below a screenshot from one of the users

<img width="1224" alt="image" src="https://user-images.githubusercontent.com/5099602/177377215-e3b5e7f2-91be-4d55-b89b-a5570ac4a81f.png">

**Expected beha

[2022-07-05 16:58] matkt commented on #3971
@NicolasMassart

[2022-07-05 22:58] iamhsk opened #4060 "Investigate a way to turn up Peering Logging - config"
Put peering logs behind the experimental flag so that it does not cause noise in the logs

Alternative approach - custom log4j.xml - need an example

[2022-07-05 23:19] garyschulte commented on #3951
Closing as 'no longer an issue'.

[2022-07-05 23:19] #3951 closed

[2022-07-05 23:23] #2977 closed

[2022-07-05 23:51] #4051 closed

[2022-07-05 23:54] siladu opened #4061 "Allow private networks already using London fee market to use free gas"
If you started (or hard-forked) a private network with the `londonBlock` fork without configuring the `baseFeePerGas` to zero at the time, then it's not possible to subsequently zero the base fee, meaning that you can't configure a [free gas network](https://besu.hyperledger.org/en/stable/HowTo/Configure/FreeGas/).

Configuring the baseFeePerGas to zero is not yet documented and was [only recently

[2022-07-06 02:43] SeaMonkey82 commented on #3921
I finally have evidence of this leading to a failed block proposal - presumably because the block would have contained deposits?
https://ropsten.beaconcha.in/block/260588
Validator successfully attested during the epoch, but failed to propose a block.

[2022-07-06 05:16] macfarla commented on #3939
we are taking a general look at peering with the aim of improving how quickly and efficiently besu finds peers. Having said that though, two things to note
1. Goerli can be a bit funky with peering. It behaves differently to mainnet and other testnets.
2. the "No useful peer found, checking remaining ... 3"  that then drops to 0 - with FAST/SNAP sync this basically means that it's checking each of

[2022-07-06 07:48] siladu commented on #3991
Hi @jrusselg I've been testing deploying these contracts with besu.

I used https://github.com/ConsenSys/UniversalToken as the ERC1400 implementation.

I can confirm that the solidity contract code needs to be compiled against the `istanbul` or later evm version in order to get the opcode support.

On most recent versions of besu, setting any of `istanbulBlock`, `muirGlacierBlock`, or `berlinBlock

[2022-07-06 07:48] #3991 closed

[2022-07-06 07:50] siladu commented on #3374
The fix has been released: https://github.com/hyperledger/besu/releases/tag/22.7.0-RC1

[2022-07-06 07:51] siladu commented on #3763
The fix has been released: https://github.com/hyperledger/besu/releases/tag/22.7.0-RC1

[2022-07-06 10:07] daniellehrner commented on #3491
A user on Discord has the same issue: https://discord.com/channels/697535391594446898/888098626264502302/994181378860126269

The desciption of his setup is:
[code]

[2022-07-06 10:59] NicolasMassart commented on #3971
Validator selects tx that have a fees over the minimum. So as you set zero, all tx should match that.
Then it fills the block up to the max block size, here 0x1fffffffffffff, so it probably depends on the amount of transactions.
Can you tell us more about the cumulated fees for all the txs in the pool?

[2022-07-06 12:25] ahamlat commented on #3786
@macfarla : to reproduce, you have to call trace_replayBlockTransactions on a block that contains one or several huge transactions. @matkt was able to reproduce on Ropsten.

[2022-07-06 15:44] CaixiangFan commented on #3971
@NicolasMassart Hi, I set up a free gas network, so there should be no gas fees in the pool. As you mentioned, validator should select all txs in the pool until the number reaches the max gas limit (0x1fffffffffffff). I kept the transaction pool queue size to the default 4096, which was big enough to prevent any tx discarding. So, I expect all txs in the pool to be included in the next block. But,

[2022-07-06 16:46] #3893 closed

[2022-07-07 02:53] iamhsk opened #4067 "[SPIKE] Spike creating a ZeroBaseFeeMarket"
Refer to #4061

[2022-07-07 05:08] macfarla opened #4068 "Prior Value in Rolling Change: nonces differ"
Seeing this IllegalStateException on latest besu 22.7.0-RC1 on goerli canary (fast sync, bonsai, from scratch)

LOGS
[code]

Node does not recover
[code]
And eventually there's an invalid block
[code]

[2022-07-07 09:15] 1scrooge opened #4070 "Mainnet node is stuck at block 15085353"
I running besu node in docker.
[code]
Tonight the node is stuck at block 15085353. Besu version was 22.4.3, today I've updated to 22.7 but it doesn't help
Some log excerpts:

[code]
any ideas?

[2022-07-07 10:44] daniellehrner commented on #4070
Could you provide your complete log file? The part that you have shared does not indicate why the node is stuck.

[2022-07-07 11:25] 1scrooge commented on #4070
@daniellehrner
[besu.zip](https://github.com/hyperledger/besu/files/9063089/besu.zip)
Full log after enabled DEBUG

[2022-07-07 13:04] AdamRylski commented on #4028
We've updated to https://github.com/hyperledger/besu/releases/tag/22.7.0-RC1, but it didn't help. Node is syncing in leaps and returns an internal server error when querying for traces

[2022-07-07 16:27] #4052 closed

[2022-07-07 16:27] #4068 closed

[2022-07-07 18:46] jflo commented on #3921
I noticed in the Teku case it is calling with the same from and to values, indicating a single block. I assume it is doing that because it wants to go through the bloom cache, as opposed to just passing the hash of the single block which would not use the cache.

@SeaMonkey82 is prysm doing the same thing?

[2022-07-07 23:23] macfarla opened #4071 "Investigate: Invalid RLP from peers: Expected current item to be a list, but it is: BYTE_ELEMENT (at bytes 0-1: [04])"
Expected current item to be a list, but it is: BYTE_ELEMENT (at bytes 0-1: [04])

We see this message not infrequently when running besu on testnets. And besu is rejecting peers because of it. It may be legitimate but we should investigate. And improve the logging.

Maybe move the stack trace to TRACE level

This log message from ropsten.
Latest besu 22.7.0-RC1
[code]

[2022-07-07 23:46] SeaMonkey82 commented on #3939
I'm experiencing this with checkpoint sync on Ropsten.  One client pair worked fine, but nimbus-besu only ever manages to get 4/5 required peers.

[2022-07-08 00:16] ajsutton commented on #3921
We're not deliberately trying to hit or avoid the cache here - just using the same code path we use when pulling ranges to get the initial deposits.  Just that once we catch up with the "head" (actually head minus follow distance) we are updating on each new block so the range to query is just a single block.

[2022-07-08 03:29] garyschulte commented on #3959
Yes, @ahamlat has identified that the regression was introduced in #3695 and it appears to be related to netty deferring to a native transport library.  Ameziane is out ill currently, but we should be able to have a mitigation for this soon.

[2022-07-08 07:29] ahamlat commented on #3959
@mbaxter : I compared the performances before and after #3695 and we can notice a real degradation. I used a benchmark created by @usmansaleem with the same throughput during 5 minutes. Here are the results :
### Before PR 3695

---- Global Information --------------------------------------------------------

**> mean response time                                    39 (OK=39     KO=-     )**

**>

[2022-07-08 09:07] henry-ngv opened #4074 "Generate block when there is at least one transacton"
### Description
Blocks are generated after specific time even there is no transaction at all. This could lead to redundant storage space.

### Enhancement
Generate block when there is at least one transaction.

[2022-07-08 12:02] mcdee opened #4076 "sepolia node stalled at block 1460320"
### Description

I have two besu/lighthouse nodes which have stalled at block 1460320.  A besu/prysm node has been reported has having the same issue (see https://forkmon.sepolia.ethdevops.io/ for details).

### Logs
[code]

### Versions (Add all that apply)
* Software version: besu/v22.7.0-RC1/linux-x86_64/openjdk-java-17

[2022-07-08 12:37] daniellehrner commented on #4076
I think this was just fixed yesterday: [#4069](https://github.com/hyperledger/besu/pull/4069). We are in the process of the final tests of a hotfix release (22.4.4) which will released by the end of the day.

Unfortunately once this happens, the database is corrupted and we can not recover from that. The only way forward is to sync the node from scratch again.

[2022-07-08 12:42] daniellehrner commented on #4074
I think there is already an issue for that (at least for QBFT): https://github.com/hyperledger/besu/issues/3810

If the other issue covers your needs, please let me know. Then I will close this own, to not have duplicated issues.

[2022-07-08 12:44] daniellehrner commented on #4070
The only thing that I can see in the log files is that the node is trying to find peers, but does not succeed. Did you have other versions of Besu running in the past and could connect to peers?

[2022-07-08 13:00] mcdee commented on #4076
Does this really require a complete resync?  For this and similar problems, is there no way in which the database can be pruned such that it is rolled back to a known good (user-provided) height?

[2022-07-08 13:01] mcdee commented on #4076
Will there also be a release for the 22.7.0-RC1, given that this fixes other known issues with bonsai?

[2022-07-08 13:20] 1scrooge commented on #4070
@daniellehrner No, I'm running besu node for the 1st time. It syncing from scratch and stuck at block 5085353

[2022-07-08 14:17] garyschulte commented on #4076
We discussed a hotfix to the 22.7.0-RC series to include #4069 but decided to instead aggregate all of the bonsai and critical merge fixes in a final 22.4.4 release.  The next RC series release will be July 20th.

Most of the merge related difference between what is in 22.7 series that is not in 22.4.4 are fixes for corner cases and hive suite compliance.  @mcdee If there is a strong desire to run

[2022-07-08 15:05] mbaxter commented on #3959
This is a major regression - it is blocking upgrades to RPC nodes on the Palm network.   Have you considered reverting the problematic PR while a fix is worked out?

[2022-07-08 15:52] garyschulte commented on #3959
It is a pretty major refactor from a couple months back, it might be more difficult to revert it than to mitigate or fix it.  We will prioritize a fix one way or the other.

[2022-07-08 16:00] henry-ngv commented on #4074
Yeap. The issue has already existed. Feel free to close this issue.

[2022-07-08 17:06] mbaxter commented on #3959
I took a quick look at the revert conflicts - it doesn't look too bad to me.  It really depends on timing, if there's an imminent fix, probably makes sense to just wait on the fix.  But if there's weeks of exploratory work, probably better to just revert it.

[2022-07-08 20:22] SeaMonkey82 commented on #4052
Encountered this again on 93b877002272e76b24571eec8996ed595f52c905

[code]

[2022-07-09 05:08] matkt commented on #4052
was it a new node or an old node? was it not long after the reboot with the update or long after?

[2022-07-09 05:11] matkt commented on #4052
I say that because if it is a node that has been Synced before it is possible that it was already corrupted before. This fix does not fix an already corrupted node but it prevents a new node from becoming corrupted. If you have with a node that has been fully synced with this fix. So I will Say that this fix is ​​not enough

[2022-07-09 12:23] mcdee commented on #4052
Is it possible to know if a node is corrupted, or is this basically saying "you need to resync from scratch" in case the node has this issue but not currently showing problems?

[2022-07-09 13:52] matkt commented on #4052
to know if a node is corrupted it would be necessary to look at the state of the last trielog and to see if they are valid. it is technically feasible but it is not currently available. if the problem persists we can implement an RPC method to replace a trielog with a valid trielog to avoid having to resync. But I prefer for the moment to not implement a feature for a bug. Knowing that we normally

[2022-07-09 13:54] matkt commented on #4052
After knowing that the depth of reorgs is limited on the mainnet. If a node works for a day with the new version I would say there is normally no risk. Unless we have a very deep reorg which is not normally possible

[2022-07-10 06:48] SeaMonkey82 opened #4079 "Critical Exception Processing Transaction"
v22.4.4 on Ropsten

[code]

[2022-07-10 11:50] ItayPodhajcer commented on #2991
Hi @jframe @lucassaldanha ,
Haven't found any updates on this since November 2021.
Is there anything new on this migration feature?

[2022-07-11 01:28] #3897 closed

[2022-07-11 01:28] mark-terry commented on #3897
**Investigation outcomes:**
- Produced some baseline measurements for future use
- Identified some behaviours / issues that may be improved by #2689
- Created ticket #4054 that may improve new node network participation

[2022-07-11 04:11] ronaldjmaas commented on #4048
Successfully synced both Sepolia and Ropsten from genesis block with Besu 22.4.4. Closing as issue has been resolved.

Thanks for all the hard work.

[2022-07-11 04:11] #4048 closed

[2022-07-11 09:15] lfinbob commented on #3939
I did fix the problem by switching from a slower internet connection (6 mbps down, 1mbps up) to a faster one (100mbps down, 30 mbps up).
After the switch besu immediately found peers and is syncing fine now.
Is there some mechanism that prevents peer connection on slower connections?
While 6/1 mbps is slow, I thought it would still sync a prater test note. The beacon node (lighthouse) did sync jus

[2022-07-11 09:18] #4074 closed

[2022-07-11 09:19] daniellehrner commented on #4074
Closing because of duplicate

[2022-07-11 11:28] yorickdowne opened #4081 "Feature: Friendlier logging when chain download fails"
### Description

Besu, as part of normal operations, will sometimes fail to download a block. It'd be great to have less scary logging for that, as in logging a WARN not ERROR for `Chain download failed. Restarting after short delay.` and not log the Java exception. Attached file shows current logging.

[besu-scary-logs.txt](https://github.com/hyperledger/besu/files/9083492/besu-scary-logs.txt)

[2022-07-11 14:03] fab-10 opened #4082 "java.lang.IndexOutOfBoundsException when Nimbus tries to connect to the engine API"
### Description

Command line to start Nimbus 22.6.1
[code]

Besu configuration for version 22.4.4
[code]

Exception

[code]

[2022-07-11 18:56] jflo commented on #4082
I see the problem, adding test coverage and fixing it. In the meantime, using websockers should be a workaround, just change:
`--web3-url=http://localhost:12347/`
to
`--web3-url=ws://localhost:12347/`

[2022-07-12 02:11] ronaldjmaas opened #4084 "Sync Ropsten test net stuck at block 12572551"
### Description
Besu: 22.4.4
Lighthouse BN: 2.3.2-rc0
Both clients run on Debian 11.4.
No Docker or VM
Restarting Besu did not resolve the issue

Stack trace:
Jul 11 09:57:48 xeon taskset[11653]: 2022-07-11 09:57:48.376-07:00 | vert.x-worker-thread-0 | INFO  | EngineForkchoiceUpdated | Consensus fork-choice-update: head: 0x0ec70021cb7ee7d9ef7b63cf8a0496a8960d3ee41ffff14a0167816756f9fc8c, finalized

[2022-07-12 07:38] Gabriel-Trintinalia commented on #3996
Hi Ricardo,

I was not able to replicate this issue using the latest (22.4.4) version of Besu with the latest unstable version of lighthouse. I was able to get them to sync. The message (FarBehind) on LH appeared until Besu finished sync

Initially, I also could not find the message:

`INFO  disconnecting peers with total difficulty over. `

Looking into the code, it seems that the code where best

[2022-07-12 14:23] SeaMonkey82 commented on #4084
https://github.com/hyperledger/besu/issues/4052

You will need to resync from scratch.

[2022-07-12 14:28] ronaldjmaas commented on #4084
This is the result of a sync from scratch w/ 22.4.4. Note initially Besu / Lighthouse were able to successfully sync with head of the Ropsten chain. But after stopping for a day and then after restarting both clients. It was failed to sync again.

[2022-07-12 14:30] SeaMonkey82 commented on #4052
This was supposedly fixed in 22.4.4, but I have since done a completely fresh sync with that version and encountered the same error.

[2022-07-12 18:15] diega commented on #3959
@mbaxter if you have the environment for running the test, would you try just reverting [70a01962](https://github.com/hyperledger/besu/pull/3695/commits/70a019623e5cb1226d3c6a096609d3e3c3918c8d)? This commit has been lost in the _squash_ but that's the one enabling native transport usage. If the regression is still present after reverting this one, then the problem is somewhere else in the refacto

[2022-07-12 23:21] macfarla opened #4087 "[SPIKE] Design for how to add discv5 support 3"
- [ ] investigate how to utilise the discv5 library https://github.com/consensys/discovery
- [ ] look at Teku code - https://github.com/ConsenSys/teku/blob/ce6e13e32f2c5029aa05895f400c00a9c72a3f38/networking/p2p/src/main/java/tech/pegasys/teku/networking/p2p/discovery/discv5/DiscV5Service.java
- [ ] Come up with a plan for how to add support for discovery v5 - how to handle v5 incoming packets
- [

[2022-07-12 23:55] macfarla commented on #4060
adding the flag -Xverbose-p2p-logging would be best done first
Effort XS (implementation)
adding a flag to p2p config object
Maybe move some current logging behind this flag
Impact S
For users - reduce ongoing noise from any logs we add.
Easier to add logging that will help clarify behavior.
Less time wasted from all of us adding logging and taking it out again

[2022-07-12 23:56] #4082 closed

[2022-07-13 00:10] macfarla commented on #3939
Closing this one as you've got a way forward. We're working on getting some recommended specs for running Besu which might help this type of issue in the future.

[2022-07-13 00:10] #3939 closed

[2022-07-13 01:45] macfarla opened #4088 "add a hidden, experimental config option --Xdiscv5-enabled default false"
experimental option for discv5 support
- this CLI option name should match what geth uses

[2022-07-13 01:45] macfarla opened #4089 "implement discv5 handling"
Besu is currently using discv4.
Teku using discv5, via this repo https://github.com/Consensys/discovery
Besu is already importing those libraries but we aren't using discv5 yet.
Think geth supports discv5, unsure about other clients

https://github.com/ethereum/devp2p/blob/master/discv5/discv5.md

[2022-07-13 01:55] macfarla opened #4090 "discv5 hive testing"
understand what's involved in adding the hive testing for v5

[2022-07-13 02:25] iamhsk opened #4091 "Investigate Connect/Disconnect Events Ordering"
This may help identifying the problems with #2689

Per @mbaxter's comment:
There could be a race condition wrt how connect and disconnect events are dispatched.  For example, say we’re in the process of handling a new connection and in another thread, we receive a disconnect message from the newly connected peer.  Is it possible we’re dispatching the disconnect event before the connection event?

[2022-07-13 06:25] xrchz commented on #3336
Mine too - this happens all the time for my freshly synced 22.4.4.

[2022-07-13 07:45] daniellehrner commented on #4090
In Chupacabra, we worked already a lot with the Hive engine tests. We've compiled a document how to run them and some tips & tricks: https://hackmd.io/oLxmO14oTpK4pHdfKUBqRg?both

The other Hive tests can be run in the same way. Whoever is working on this can reach out to me if there are any questions.

[2022-07-13 15:06] matkt commented on #4084
do you still have the issue ? it will be nice if can investigate your database

[2022-07-13 15:16] ronaldjmaas commented on #4084
At the moment I am rerunning same scenario again using Besu + Lighthouse combo:
1) Start Ropsten sync from scratch until successfully synced with head of chain
2) Stop both clients for 24 hours
3) Start both clients for 24 hours
4) Go to step 2

Unfortunately I do not have the original database anymore. But will let you know when the issue reoccurs

[2022-07-13 16:01] matkt commented on #4084
thanks we are also trying to reproduce

[2022-07-13 16:25] matkt commented on #4084
@SeaMonkey82  @ronaldjmaas I think I found another edgecase that can cause this issue https://github.com/hyperledger/besu/pull/4094. if you want you can test it . we are also testing this branch

[2022-07-13 17:59] ronaldjmaas commented on #4084
That morning I started Besu at Jul 11 08:24:46 after being offline for about 14 hours.
Then after printing cute Pandas, Besu + Lighthouse started sync without errors until Jul 11 09:58:00

[2022-07-13 18:02] matt-nelson-csi commented on #3959
@diega suggested testing the impact of adding `ordered=false` in the declaration of the `blockingHandler` for the HTTP endpoint (ref: https://vertx.io/docs/vertx-web/java/#_using_blocking_handlers)

Add false as second argument here: https://github.com/hyperledger/besu/blob/main/ethereum/api/src/main/java/org/hyperledger/besu/ethereum/api/jsonrpc/JsonRpcHttpService.java#L333 and here https://githu

[2022-07-13 22:41] Gabriel-Trintinalia commented on #3996
Closing this one since the issue seems to be caused by an unstable code that got removed from Besu

[2022-07-13 23:39] macfarla commented on #4088
since we haven't done the implementation yet, if this flag is specified, just log a warning but don't abort startup.

[2022-07-13 23:42] #3996 closed

[2022-07-14 01:00] siladu commented on #3817
@shemnon Thanks, you're right, it's my local config. I mistakenly thought the Mac default settings resulted in a '+' but looks like something has changed my local settings. Removing the plus from the computer name resolves this error.

@hmijail I'm closing this issue as ./gradlew build works for me, and I suspect it will work for you if your hostname only contains legal characters. Feel free to re

[2022-07-14 01:00] #3817 closed

[2022-07-14 02:43] mbaxter commented on #3959
I ran @usmansaleem's [performance tool](https://github.com/usmansaleem/besu-gatling) against the [Palm Testnet](https://docs.palm.io/HowTo/Run-a-Transaction-Node/) at version [22.4.0-RC1](https://github.com/hyperledger/besu/releases/tag/22.4.0-RC1)(before the regression was released) and compared that to `main`, but it doesn't look like the issue is reproducing for me unless I'm reading the output

[2022-07-14 04:26] S-Kia opened #4101 "blockscout-postgresql -> Failed Binding PVC"
### Description
i would like to deploy hyperledger besu on cloud container engine in huawei cloud (likely deploy on k8s)

### Acceptance Criteria
run hyperledger besu on cloud

### Versions (Add all that apply)
- Clone the Quorum-Kubernetes
- running Kubernetes cluster
- Install Kubectl
- Install Helm3

### Steps to Reproduce (Bug)
1. follow this page "https://besu.hyperledger.org/en/stable/Tutori

[2022-07-14 04:30] usmansaleem commented on #3959
@mbaxter I used https://github.com/ConsenSys-Palm/palm-node to create the palm instance and updated the bootnodes etc. as mentioned in this ticket. I set up Besu `22.4.3`, not the RC1 that was reported in the ticket. However, I was **not** able to see the regression in my tests (I even increased the load to 50 total users/sec). However, @ahamlat was able to reproduce regression in the environment

[2022-07-14 05:32] macfarla commented on #4091
it broke some ATs but it works locally with my 3 nodes setup trying this one out in goerli https://github.com/hyperledger/besu/pull/4100

[2022-07-14 07:57] 1scrooge commented on #4070
@daniellehrner Hi. I launched besu from scratch. It stuck again, but other block 15121585. Full log
[besu15121585.log](https://github.com/hyperledger/besu/files/9109769/besu15121585.log)

[2022-07-14 16:16] #2190 closed

[2022-07-14 17:26] iamhsk commented on #2991
Hi @ItayPodhajcer, thank you for your inquiry! Currently the Besu maintainers are not planning on working on this migration feature for the foreseeable future. We welcome any community contribution though 🙂

[2022-07-14 20:12] iamhsk opened #4108 "Investigate How DNS Discovered Peers Are Handled"

[2022-07-14 23:10] iamhsk opened #4109 "Investigate how peers are ordered when they’re streamed out from discovery"

[2022-07-14 23:16] iamhsk opened #4110 "Investigate how Teku peer constraints are configured"
For example, here are the upper-bound / lower-bound peering options: https://docs.teku.consensys.net/en/latest/Reference/CLI/CLI-Syntax/#p2p-peer-lower-boundy version

[2022-07-14 23:16] iamhsk opened #4111 "Investigate how Teku peer constraints are configured"
For example, here are the upper-bound / lower-bound peering options: https://docs.teku.consensys.net/en/latest/Reference/CLI/CLI-Syntax/#p2p-peer-lower-boundy version

[2022-07-14 23:18] #4111 closed

[2022-07-14 23:37] pinges commented on #4060
We decided to use the log 4 j way of doing that!

[2022-07-15 04:24] #4088 closed

[2022-07-15 14:27] antonydenyer commented on #4061
Ideally we would be able to configure a gas price at a block height (via a config transition)

[2022-07-15 14:29] antonydenyer commented on #3810
GoQuorum implementation https://github.com/ConsenSys/quorum/pull/1433

[2022-07-15 15:57] ronaldjmaas opened #4113 "Besu stuck at block 15145015"
Besu was syncing Main net from scratch. It gets stuck importing block 15145015. Restart did not resolve the problem.

Version: besu/v22.4.4/linux-aarch_64/openjdk-java-17
Debian 11.4 - no VM. no docker
ARM v8 (X-Gene 1), 64 MB RAM, 2 TB SSD w/ 300+ GB free

Jul 14 23:39:57 xgene1 besu[2056]: 2022-07-14 23:39:57.073-07:00 | EthScheduler-Services-12 (importBlock) | INFO  | FullImportBlockStep | Impo

[2022-07-15 17:39] garyschulte commented on #4070
that log makes it look like besu is not actually stuck but is downloading the worldstate.  See the log line about 1 minute before the end of the file:
[code]

The other "found common ancestor" log lines are just noisy peering log lines.  Did this node eventually finish downloading the world state and/or select a newer pivot block than 15121585?

[2022-07-15 18:34] samsondav opened #4114 "Besu returns logs with incorrect `logIndex` (different behaviour than go-ethereum)"
### Description
As a RPC client consumer, I expect Besu to return logs with the same `logIndex` as go-ethereum. It does not do this.

### Acceptance Criteria
Besu should return logs with the same `logIndex` as go-ethereum.

### Steps to Reproduce (Bug)

(examples are from Sepolia - chain ID 11155111)

### go-ethereum

```curl -v --data '{"method":"eth_getLogs","id":"1","params":[{"blockhash": "0xd

[2022-07-15 20:31] jflo commented on #4114
does it sound like : https://github.com/hyperledger/besu/issues/3921 ?

[2022-07-15 20:33] jflo commented on #4114
in the short term, you can cleanly shut down besu, delete the `logBloom-*.cache` files in your data directory, and restart. They will be re-built.

[2022-07-16 00:19] ajsutton commented on #4114
Sounds like a different issue to me, particularly given it happens all the time.  My guess is that Besu has just implemented this incorrectly and is setting logIndex to the index of the event in terms of what the transaction emitted, rather than what the block emitted. That certainly looks like what `LogWithMetaData.generate` is doing.

[2022-07-16 05:31] garyschulte commented on #4113
same as #4079

[2022-07-16 05:34] garyschulte commented on #4076
Closing 'prior value rolling change' as fixed with #4069.

[2022-07-16 05:34] #4076 closed

[2022-07-16 08:34] daniellehrner opened #4115 "Update reference test to v11"
### Description
A new version of the Ethereum reference tests has been released: https://github.com/ethereum/tests/releases/tag/v11

We should update them to keep up to date with the latest changes.

[2022-07-16 08:56] garyschulte opened #4117 "ThreadBlocked checking ancestorIsValidTerminalProofOfWork"
### Description
When fast syncing a post-merge network (fast, snap, or checkpoint) , there is a brief window where there is no finalized block.  During this time besu behaves the same way it does at merge transition, verifying newPayloads and forkchoice calls by ensuring the blocks descend from a valid terminal block.

This is a problem for post-merge networks, because following the chain back to

[2022-07-16 15:14] ronaldjmaas commented on #4084
This morning exact same exception happened again but now with the Sepolia test network. I captured the database. If you are still interested in it let me know how I can send it to you. Tar file is about 1.25 GB

I will continue testing once the candidate fix has been released.

[2022-07-17 10:50] ItayPodhajcer commented on #2991
Hi @iamhsk,

This is a very disappointing answer, as IBFT 2.0 was THE way to go with Hyperledger Besu based PoA networks before QBFT reached production grade.
Expecting someone in the community with no prior experience on this codebase, to go into the heart of the consensus mechanism and implement a migration path seems highly unrealistic.

This significantly lowers the reliability of this softwar

[2022-07-17 15:51] matkt commented on #4084
it wasn't with the candidate fix which is not yet merge?

[2022-07-17 17:00] ronaldjmaas commented on #4084
Both errors occured with 22.4.4 (without candidate fix). Once you bake a new release of Besu. I will start retesting.

Thank you

[2022-07-17 17:39] matkt commented on #4084
OK, thanks. we are currently testing this fix. If the bug is not enough, we would like to recover the database. Thank you for your help

[2022-07-17 19:18] SeaMonkey82 commented on #4052
Same error.  Different stacktrace. Commit f885c4671333168089a7b86ffedf985fce81954b
[code]

[2022-07-17 19:50] matkt commented on #4052
we are trying a fix that normally fix these issues. We'll keep you informed

[2022-07-18 02:23] siladu commented on #4061
I really like the idea of using a transition for this. It could add quite a big overhead because transitions are only supported for BFT, not Clique or ethash.

[2022-07-18 04:49] pinges opened #4119 "Increase default maximum size for p2p messages"
I have noticed that we are disconnecting peers that are responding to our requests on the p2p protocol during syncing because they are sending messages larger than the current max size of 10 MB.
This PR increases the default maximum size to 20 MB to make sure that we are not disconnecting useful peers.
This maximum size can be set using the experimental CLI argument "--Xeth-max-message-size"

[2022-07-18 04:57] ajsutton commented on #4119
May be worth checking what the max size is for other clients as increasing the size here could open DoS vectors.  The other way to avoid this would be to reduce the size of block ranges we request.  And in either case we should ensure the size of responses to our block requests is well below whatever maximum size we set as block sizes are likely to grow in the future which could re-introduce this

[2022-07-18 05:53] pinges commented on #4119
You are absolutely right. The current limit has probably been selected by calculating what was expected to be the maximum possible size plus a margin. The question is whether we want to change the number of block ranges that we are requesting or increase the max message size.
I'm not sure if it is possible to adjust either of these in a way that we do not run into that problem as block sizes grow

[2022-07-18 06:03] ajsutton commented on #4119
I'm more concerned about whether the message limit also applies to unsolicited messages. We don't want to increase the amount of data we'd read and try to process as that can open up DoS vulnerabilities.  I'm not sure if increasing from 10Mb would be an issue, but it's something to consider as it's not necessarily guaranteed to be safe to increase that limit.

[2022-07-18 06:29] 1scrooge commented on #4070
@garyschulte No. still 15121585

[2022-07-18 08:02] antonydenyer commented on #4061
I think the current schema could use a bit of a tidy up 😄  something like

[code]

It'd be nice to get a place to configure all things bespoke (ie not testnet/mainnet) feels like we have a bunch of things in different places that could affect consensus, especially on private/internal test networks. `min-gas-price` and `contractSizeLimit` jump to mind, both can cause forks if configured differently

[2022-07-18 11:50] daniellehrner opened #4121 "Failing Hive test: Pre-TTD ForkchoiceUpdated After PoS Switch"
### Description
The hive test `Pre-TTD ForkchoiceUpdated After PoS Switch` has been failing since commit [0d1d36a](https://github.com/hyperledger/besu/commit/0d1d36afc0a2679a3bb2b9daa3329bd6239a0218). The startup of Besu fails with the following exception:

[code]

The exception shows that there is a race condition in starting the `BlockPropagationManager`. It is started in `DefaultSynchronizer::s

[2022-07-18 14:12] SeaMonkey82 commented on #4052
Yet another unique stack trace for this error.
[code]

[2022-07-18 15:56] #4121 closed

[2022-07-18 17:28] mbaxter opened #4123 "JSON-RPC method eth_getLogs improperly interprets block arguments"
### Description
Besu's implementation of `eth_getLogs` accepts a "blockParameter" for the `fromBlock` and `toBlock` values where the block parameter can be a number or a special string ("latest", "earliest", or "pending").  If a string parameter is provided, it is ignored and  [is instead replaced](https://github.com/hyperledger/besu/blob/32fd3476e3409ec5b10c654b96a00418f24f53a5/ethereum/api/src/m

[2022-07-18 19:50] #3959 closed

[2022-07-18 22:50] iamhsk opened #4125 "Decouple dev genesis file for Privacy"
### Context
Currently testing features for mainnet and privacy both require to use the same dev genesis file and the hash is hard-coded which makes it difficult to modify the dev genesis file.

Previous attempt to do this can be found here: #3121
An alternative approach is to have a separate dev genesis file for mainnet tests and privacy tests.

### Desired Outcome
We can make updates to the dev g

[2022-07-18 23:46] iamhsk commented on #4119
One approach is to investigate the message limit on other clients to decide on the limit

[2022-07-18 23:57] jframe opened #4127 "Investigate possible external databases for shared storage"

[2022-07-18 23:59] #4127 closed

[2022-07-19 00:12] macfarla commented on #2689
Next steps
- clean up logging on #4001

[2022-07-19 00:32] garyschulte opened #4128 "RocksDB performance regression"
### Description
There are several reports of slow block import times with the current rocksdb configurations from #3985. The current mitigation for this is to use `--Xplugin-rocksdb-cache-capacity=134217728` to set the cache capacity to 128mb.

### Acceptance Criteria
* besu should use configuration parameters that minimize memory footprint, while preserving performance, with 22.4.4 as a baseline

[2022-07-19 01:22] shemnon commented on #4057
Can we get the CLI flags and redacted config settings (redacting identity and keys, but keeping other config items) for those instances?

[2022-07-19 01:25] macfarla commented on #4087
there is a spec
discv5.1
using the consensys/discovery library which would be v5.1 https://github.com/ConsenSys/discovery/pull/72

[2022-07-19 04:27] iamhsk commented on #2991
Hello @ItayPodhajcer,

[2022-07-19 06:13] ItayPodhajcer commented on #2991
Thanks for the clarification @iamhsk!

The need to migrate was triggered by the docs leading to believe that QBFT is the long-term support consensus algorithm starting from the point it reached a production grade release.
So, to make sure we are not caught by surprise by IBFT 2.0 being retired, cause as I mentioned before, we are running three networks, one of which is a production network, we wan

[2022-07-19 06:14] eu09 opened #4129 "About update the RawData ( validator address ) on Besu 22.4"
Hi All

Our private blockchain is using the IBFT2 Consensus protocols , at the beginning we defined which addresses are acting as validators   in our private EVM ,and we input relatived address (21 Validators addrees ) to the extraData property at our genesis file. However  we wanna [remove the validators] not by the RPC call , but wanna update the RAW data at the genesis instead .
So any solution

[2022-07-19 07:37] jframe commented on #4129
Hi, It is possible to change the validator without using RPCs by using a transition for validators. This is the documentation https://besu.hyperledger.org/en/latest/HowTo/Troubleshoot/Add-Validators-Without-Voting/ on how to use the feature. You will need to update the config for all nodes and restart them so that the validators can be overridden.

[2022-07-19 07:44] eu09 commented on #4129
Thanks @jframe your enlightening comments . will try

[2022-07-19 08:19] eu09 commented on #3938
Can u tell us what is the your config on --nat-method ?

[2022-07-19 08:23] ahamlat commented on #3959
I'm not able to reproduce anymore, here are the results :

1. **Version 22.4.3**

**Benchmark output**

================================================================================
---- Global Information --------------------------------------------------------

**> mean response time                                    91 (OK=91     KO=-     )**

**> response time 50th percentile

[2022-07-19 08:36] ricardolyn commented on #3996
thanks. @Gabriel-Trintinalia which version fixed this issue?

[2022-07-19 08:50] matkt commented on #4070
could you share us what is your current log now ?

[2022-07-19 08:52] ricardolyn commented on #3996
thanks @Gabriel-Trintinalia

[2022-07-19 10:20] matkt commented on #4070
I found that you have a stacktrace related to Upnp, can be related to your peering issue

[code]

[2022-07-19 16:21] matt-nelson-csi commented on #4087
Spoke with the other client teams. It looks like in Geth it is optional for users at this time (the client can run v4 and v5 simultaneously). We are going to have a discussion with them post-Merge to determine when/how we should move all Els to v5. And I would definitely recommend consolidating around the Teku library if it makes sense.

Discord context [here](https://discord.com/channels/59566685

[2022-07-19 16:46] matt-nelson-csi commented on #3746
@matkt - could you take a look at this again?

[2022-07-19 16:52] matkt commented on #3746
Resolved we can close

[2022-07-19 16:53] #3746 closed

[2022-07-19 17:02] matt-nelson-csi commented on #3921
@ajsutton are you seeing this building from Main? @jflo has not been able to reproduce on latest. Can you report back so we can engage if needed?

[2022-07-19 17:17] matt-nelson-csi commented on #2597
MEV is no longer being completed at the execution layer.

[2022-07-19 17:17] #2597 closed

[2022-07-19 17:20] matt-nelson-csi commented on #1338
Close as GC will not need AuRav going forward.

[2022-07-19 17:21] matt-nelson-csi commented on #1467
@shemnon - Still an issue here? We have made significant changes to the block import structure.

[2022-07-19 17:27] shemnon commented on #1467
I have no idea, the profiler run is about 2 years ago.  The profiler should be re-run or this bug should be closed as stagnant.

[2022-07-19 17:28] #1356 closed

[2022-07-19 17:29] #1439 closed

[2022-07-19 17:31] matt-nelson-csi commented on #1467
Closing as stagnant - in favor of @ahamlat's performance work.

[2022-07-19 17:31] #1467 closed

[2022-07-19 17:33] matt-nelson-csi commented on #1585
@matkt - OK to close?

[2022-07-19 17:36] matt-nelson-csi commented on #1707
Closing in favor of other peering fixes and DNS discovery outsourced to Tuweni library - post-Merge we will also be looking to move to discV5 discovery regardless, which will remove the need for v4 improvements.

[2022-07-19 17:39] matt-nelson-csi commented on #2173
Closing as stale.

[2022-07-19 17:39] #2173 closed

[2022-07-19 17:41] matkt commented on #1585
I don't think we have a fix for that. i think we can keep it open

[2022-07-19 17:46] #2356 closed

[2022-07-19 17:49] matt-nelson-csi commented on #2425
Geth has implemented this - need to prioritize at some point post-Merge

[2022-07-19 17:52] matt-nelson-csi commented on #2569
@daniellehrner easy logging change?

[2022-07-19 17:52] #2488 closed

[2022-07-19 17:52] matt-nelson-csi commented on #2488
Close as stale

[2022-07-19 17:56] matt-nelson-csi commented on #2601
Close as current 256 bit value is fine, warning can be handled client side.

[2022-07-19 17:56] #2601 closed

[2022-07-19 17:57] matt-nelson-csi commented on #2915
Close in favor of hive

[2022-07-19 17:57] #2915 closed

[2022-07-19 18:00] matt-nelson-csi commented on #3050
Hey @daniellehrner - where did this end up with regard to #3051?

[2022-07-19 18:08] matkt commented on #2808
I want to say no for 1559 transactions.

[2022-07-19 18:22] matt-nelson-csi commented on #2808
Closing as stale for post-1559 world. Can re-open if significant need elsewhere.

[2022-07-19 18:22] #2808 closed

[2022-07-19 22:33] ajsutton commented on #3921
We haven't seen this issue since updating to 22.4.4. So it seems the fix that went in there has worked - we used to hit this every couple of days.

[2022-07-19 23:51] jflo commented on #4084
By any chance were you syncing the beacon chain at the same time as Besu was syncing on Ropsten and/or Sepolia? I have experienced Besu getting stuck at the latest pivot block and not proceeding past it when I have my CL (teku) syncing at the same time as Besu.

[2022-07-20 02:41] frankisawesome commented on #4123
Unless this is a priority issue I'm interested in taking this (turn around will be a bit longer since this will be part time for me)

[2022-07-20 02:48] ronaldjmaas commented on #4084
Yes. CL (Lighthouse) and EL (Besu) were always syncing together. Post merge it is necessary to have both clients running to be able to successfully sync to head of chain. At least that is my understanding

[2022-07-20 02:52] ajsutton commented on #4084
Both need to be running, but not syncing.  In fact if the CL isn't yet in sync the EL will have a very hard time syncing.  Best practice is to use checkpoint sync to sync the CL (should be in sync in a couple of minutes) and then that can keep the EL informed of the current chain head so it can download the appropriate world state as part of its sync.

[2022-07-20 03:14] ronaldjmaas commented on #4084
Ok I will do that once a new release from Besu is available

[2022-07-20 03:28] ronaldjmaas commented on #4084
But note in real life CL + EL will sometimes sync simultaneously. E.g. my validator is setup to restart both clients automatically after a planned reboot and also in case of a power outage. The first scenario is usually done in a few minutes. But 2nd scenario both clients may be offline for several hours or maybe even longer.

In no scenario restarting the server should result in a corrupted datab

[2022-07-20 03:42] ajsutton commented on #4084
That's fine - there's a very big difference between the initial sync and catching up after a restart.  During the initial sync the EL (besu) typically uses either fast sync or snap sync to download the world state. In either case it needs to know what the current chain head is so it can request the state from peers (who only keep the state for blocks close to the chain head). Once it finishes that

[2022-07-20 04:05] ronaldjmaas commented on #4084
Ok that makes sense. Thanks for clarifying.

[2022-07-20 05:04] pinges commented on #4119
PR https://github.com/hyperledger/besu/pull/4120

[2022-07-20 05:05] #4119 closed

[2022-07-20 07:50] siladu commented on #4067
Settled on a solution and updated: https://github.com/hyperledger/besu/issues/4061

This means https://github.com/hyperledger/besu/issues/4053 is no longer needed

[2022-07-20 07:50] #4067 closed

[2022-07-20 07:51] siladu commented on #4053
Config changes will now be part of https://github.com/hyperledger/besu/issues/4061

[2022-07-20 07:51] #4053 closed

[2022-07-20 10:55] ricardolyn commented on #3746
@matkt in which version is resolved? thank you

[2022-07-20 12:17] matkt commented on #3746
normally you no longer have the problem in the last RC2 or in the main

[2022-07-20 15:02] mbaxter commented on #4119
The 10MB limit is mentioned [here](https://github.com/ethereum/devp2p/blob/87c916174414d59ffd2195f207c5558154ff8e2a/caps/eth.md#basic-operation):
[code]

[2022-07-20 17:50] jflo commented on #3921
Thanks folks, closing as fixed by underlying stateroot solution.

[2022-07-20 17:50] #3921 closed

[2022-07-21 01:09] ajsutton opened #4140 "Conflicting Pivot Blocks on Ropsten"
### Description
Besu 22.4.0 is failing to sync on Ropsten because it's getting conflicting pivot block headers from it's peers:

[code]

The errors repeat continuously and very rapidly.

A single conflicting block header shouldn't cause besu to fail to sync, otherwise a single bad peer can prevent besu from syncing. There's also little point in requesting the same pivot block from the same peers i

[2022-07-21 01:12] ajsutton opened #4141 "Provide useful information when backward sync preconditions not met"
### Description
When syncing a new teku+besu node, besu 22.4.0 wound up repeatedly logging:
[code]

This is an entirely unhelpful log message. It should clearly explain what preconditions it's waiting on so the user knows why sync is not progressing. Looking at the code in this case I think it was that the initial sync hadn't completed.

[2022-07-21 01:16] ajsutton commented on #4140
Also occurred with 22.7.0-RC2.

[2022-07-21 01:49] macfarla commented on #4091
Locally - RC2 locally with besu-local-nodes setup (3 x besu, one is a bootnode for the other 2) - I still get the stale disconnected duplicate every time (on the bootnode)

`2022-07-21 11:23:55.746+10:00 | nioEventLoopGroup-3-4 | DEBUG | EthProtocolManager | Disconnect - Outbound - 0x05 ALREADY_CONNECTED - PeerInfo{version=5, clientId='besu/v22.7.0-dev-1ff3967d/osx-x86_64/openjdk-java-11', capabil

[2022-07-21 01:52] macfarla commented on #4091
goerli with RC2
~ 300 unique incidences of stale peers after 3 hours
[code]

[2022-07-21 01:58] macfarla commented on #4091
goerli with 4100
~ 100 unique incidences of stale peers after 18 hours

[code]

It's about 70/30 stale peers and responses
[code]

[2022-07-21 02:03] macfarla commented on #4091
^ in both cases on goerli I can see the stale peers in the logs but they don't persist. They do eventually get removed.

[2022-07-21 02:21] macfarla commented on #2689
Hey @emclab we are still working on fixing the root cause here, but we think some other improvements that have been made elsewhere in peering may have reduced the incidence of this "duplicate peer" issue, to such a low level that you may not be affected by it. Are you able to try with the most recent Besu? We have just released 22.7.0-RC2

[2022-07-21 02:34] pinges commented on #3955
@Gabriel-Trintinalia and I looked at the log file (Log03.txt) and found the following:
Block #14,965,607 with block hash 0xe27481970fc2c069ce84d9be9561d21ac87d699fd814e388a5eea24d587cfb51 is imported, but checking on a block explorer we can see that this block is not on the canonical chain, Following this announced blocks are saved, including block 14965608 with hash 0xf8f193f22a447848ff0e2b36f2ea

[2022-07-21 05:05] ajsutton opened #4143 "Don't log every engine API call"
### Description
With besu 22.7.0-RC2, if the CL is syncing, the besu logs just become a torrent of logs about the engine API calls, obscuring all the other information about what besu is actually doing.

[code]

[2022-07-21 05:26] macfarla commented on #4060
This is the custom log file I've been using to help with peering

[2022-07-21 05:26] macfarla commented on #4060
[code]

[2022-07-21 05:28] macfarla commented on #4060
See here https://besu.hyperledger.org/en/stable/HowTo/Monitor/Logging/#advanced-logging

eg

`LOG4J_CONFIGURATION_FILE=debug.xml besu --config-file besu1.conf`

[2022-07-21 06:27] macfarla opened #4144 "SPIKE Filter discovery peers by fork id"
per Meredith's comment
I think that using the forkid https://github.com/hyperledger/besu/blob/27fc468624d4a19067b076567ea9e1578217d34e/ethereum/p2p/src/main/java/org/hyperledger/besu/ethereum/p2p/discovery/PeerDiscoveryAgent.java#L200 to filter nodes at the discovery layer would really help a lot.

posted a question on how fork id’s are being used in other clients at the discovery layer to the Eth

[2022-07-21 08:20] daniellehrner commented on #4143
Taking the first two newPayload calls from the log as example:
[code]

There are only 76ms between those two calls. Why is the CL calling that often?

[2022-07-21 11:24] ajsutton commented on #4143
The CL is syncing so its importing blocks as fast as it can and needs to send updates to the EL.

The user doesn't care about any of these calls - there's no action they can take from any of them and they should just be at debug level. It's the same as we don't log every P2P message with peers.

[2022-07-21 11:48] daniellehrner opened #4147 "Logging improvements"
### Description
We want to improve the log file output to make it easier to understand for end users. I propose to clean up the `INFO` log level and make the target group for `INFO` the end user.

- [ ] Remove thread and class name on the info log level. I think this does not provide any value to the end users
  - An investigation found that the default log4j configuration varies between the log s

[2022-07-21 13:41] matt-nelson-csi commented on #4143
I agree with Adrian here - can move to Debug and have Info provide maybe a (less) recurring log until CL sync complete?

[2022-07-21 15:36] matkt commented on #3955
@ajsutton it's a little bit different in this case because we received the canonical block

2022-07-19 20:17:34.818+00:00 | EthScheduler-Workers-3 | INFO  | PersistBlockTask | Imported #15,175,203 / 0 tx / 0 om / 0 (0.0%) gas / (0xa784b56c3b33c8ee141870e252b0260d4eb219908b5b5dd1c56172d831229cdb) in 0.003s. Peers: 34
2022-07-19 20:17:43.642+00:00 | EthScheduler-Workers-2 | INFO  | PersistBlockTask

[2022-07-21 16:43] garyschulte commented on #4143
There needs to be some happy medium.  If we do not log fcU during sync or backward sync there is complete radio silence.  Rather than just moving them to debug perhaps we need to have a periodic timer that logs current fcU parameters and dial the rest down to debug

[2022-07-21 16:54] braddmiller commented on #4114
Hey folks, any update on this? We're looking to add official support for the Besu client to the Chainlink node and this is the last remaining issue preventing that as far as we can tell.

[2022-07-21 16:57] matkt commented on #3955
Another interesting case https://ipfs.infura-ipfs.io/ipfs/QmWQKwTRbcXUgvw9WWP9pd7WFQQ7VSJYb5L9orTrwp5fDi

I found that on the log

2022-06-03 11:46:26.581+00:00 | EthScheduler-Workers-2 | DEBUG | GetBlockFromPeerTask | Downloading block 14896930 (Optional[0xc29ee86a20768d59f287c37c77f6af3220d3aebdf565396ca9c81c5e131bc128]) from peer Peer 0x615a7472bf4d367704... PeerReputation 95, validated? true,

[2022-07-21 21:56] ajsutton commented on #4143
A periodic update on the sync progress makes sense, I don't think it's really tied to the engine calls being made because the engine calls don't mean anything to users.

A regular log line something like: `Syncing - Blocks: 1,000,000/10,000,000 (10%), World state: 25%, Peer count: 25` is the kind of thing I'd love to see.  They may not be the exact details and there would need to be variants when

[2022-07-21 22:01] ajsutton commented on #4147
I'd be cautious of only logging download progress at % intervals because you don't know how long it will take to progress and the user needs regular feedback so they don't think it's stalled.

I'd suggest a regular log line, say every 15 seconds, that gives a snapshot of the sync progress. Something like: `Syncing - Blocks: 1,000,000/10,000,000 (10%), World state: 25%, Peer count: 25`.  They may n

[2022-07-21 22:06] macfarla commented on #3956
Closing this one.

[2022-07-21 22:06] #3956 closed

[2022-07-21 22:14] garyschulte commented on #4143
I am biased, but I find logging the details of fcU quite useful when the CL is not syncing.  Similar to the way besu logs block imports when using PoW / block gossip, it 'feels' like a heartbeat.  Of course when we the CL is syncing it is just an avalanche of noise.

The difference in log behavior when syncing behavior makes sense.  I think we can just remove the logging in those cases and instead

[2022-07-21 22:53] ajsutton commented on #4143
I think it's useful for besu to report the blocks it imports as part of tracking head which should give the same heart beat when things are in sync.  Those happen to be triggered by a newPayload call or maybe the fCU setting a new head, but it's not about reporting the call it's about reporting on the new block.  Or in other words, it's focussed on what the user cares about, not the mechanics of h

[2022-07-21 23:05] macfarla commented on #4091
Closing this one - conclusion is that there isn't a problem on mainnet/goerli

[2022-07-21 23:05] #4091 closed

[2022-07-21 23:12] macfarla commented on #4109
DefaultP2PNetwork
[code]

[2022-07-21 23:12] macfarla commented on #4109
Already shuffled

[2022-07-21 23:12] #4109 closed

[2022-07-21 23:17] matt-nelson-csi commented on #4140
I also experienced this on a ropsten sync today. @matkt might be good to check this out when able.

[2022-07-21 23:33] macfarla commented on #4108
Draft PR #4148

[2022-07-21 23:42] #4060 closed

[2022-07-21 23:50] macfarla commented on #4071
relevant bits at the bottom of the stack:
[code]
it seems to be a DisconnectMessage, but it would be interesting to see the reason

[2022-07-22 00:44] ibhagwan commented on #3336
Same here, happens quite frequently:

[code]

[code]

[2022-07-22 11:13] howardrcc opened #4151 "World State Root does not match expected value -> Error processing block/Failed to import block: Invalid block"
### Description
Hi there. I successfully synced to mainnet a few day using snapsync. I am getting Errors now. Here is a snippet of the log (I'm not seeing other usefull messages in TRACE/DEBUG). I'm not sure what is happing. I tried restart and upgrading besu as suggested in other Issues but thats not working for me.

Any suggestions?

[code]

### Versions (Add all that apply)
* Software version:

[2022-07-22 14:05] samsondav commented on #4114
This is not a dupe of #3921 @jflo . It is a separate and different issue.

[2022-07-22 14:33] jflo commented on #4114
Apologies for not reading well, you are correct this is not a duplicate of #3921. We will prioritize this, but be advised it is competing with merge preparation work.

[2022-07-22 15:51] ryjones opened #4153 "Publish to Maven Central instead of Artifactory"
### Description
As a developer/user, I want get artifacts from Maven Central so that my configuration is easier.

### Acceptance Criteria
* [Artifacts published to Maven Central](https://search.maven.org/search?q=org.hyperledger)

### Steps to Reproduce (Bug)
1. Check Maven Central
2. [Are all of these artifacts published there?])https://hyperledger.jfrog.io/ui/repos/tree/General/besu-maven/org/hy

[2022-07-22 15:58] ryjones opened #4154 "Publish to GHCR instead of Artifactory"
### Description
As a developer/user, I want get artifacts from GHCR.

### Acceptance Criteria
* [Artifacts published to GHCR](https://github.com/orgs/hyperledger/packages)

### Steps to Reproduce (Bug)
1. Check GHCR
2. [Are all of these artifacts published there?](https://hyperledger.jfrog.io/ui/repos/tree/General/besu-binaries)

**Expected behavior:**
Artifacts on ghcr.io

**Actual behavior:**
No

[2022-07-22 17:14] ronaldjmaas commented on #4151
I experienced same issue with 22.4.4. There are some fixes to mitigate this issue included in the 22.7.0-rc2 release of Besu. I discarded the corrupted database and retesting the sync from scratch using 22.7.0-rc2.

Hope you can do the same. The more testing the better.

[2022-07-22 22:36] garyschulte opened #4157 "Add Sepolia paris / mergeNetSplit block"
### Description
according to spec: [add Sepolia fork block](https://github.com/ethereum/execution-specs/pull/564)

### Acceptance Criteria
* ensure fork id next matches the consensus from other execution clients

[2022-07-22 22:52] garyschulte opened #4159 "Add goerli TTD"
### Description
add goerli TTD according to spec: https://github.com/ethereum/execution-specs/pull/563

[2022-07-23 06:55] daniellehrner opened #4163 "Add deprecation warning for Ropsten, Kiln, Rinkeby"
The 3 testnets will be deprecated in the near future. I propose to print a deprecation warning in the logs at startup to inform the user.

The deprecation dates can be found here: https://blog.ethereum.org/2022/06/21/testnet-deprecation/

[2022-07-23 19:05] jsachs13 commented on #3955
I reproduced this issue in 22.7.0-RC2. BTW, snap sync with Bonsai was super fast and it was running fine until:

[code]

Then it appears to have given up and reached this point where it does nothing but refresh DNS repeatedly:

[code]

[code]

[2022-07-25 17:34] howardrcc commented on #4151
Thanks for the tips. I tried 22.7.0-snapshot (latest) and the db got corrupted again.... Gonna try -rc2 now. funny thing it kind of synced (somewhere until 15.200.000) . Then I saw number of blocks behind going up again (in grafana). Restarted besu then the number of blocks starting to decrease again. 15 minutes later i get the world state root not match error. I think that at some point it switch

[2022-07-25 23:33] #4071 closed

[2022-07-26 00:48] pinges commented on #4119
Good question. I'm not sure what client did this, but as these limits in the p2p spec are only "should"s and the 10MB limit says "typically" I think there is a chance that other clients have not implemented that.
Loosing these peers is really bad, as this happens on top of our problems finding peers in the first place. These peers are delivering useful data.
I think it would be good to understand

[2022-07-26 07:54] matkt commented on #3955
I will investigate this problem

[2022-07-26 11:42] Filter94 opened #4167 "Reference tests loopMul failure"
### Description
I've re-implemented retesteth tests executor for our usecase and the only test failing is `vmPerformance/loopMul`, same as on retesteth's website

I did the analysis of why it happens using debugger and I found the following:
1. Gas limit is [set](https://github.com/ethereum/tests/blob/develop/GeneralStateTests/VMTests/vmPerformance/loopMul.json#L22) to `Long.MAX_VALUE` in the gene

[2022-07-26 13:02] howardrcc commented on #4151
I did delete the data dir and also deleted after trying the (non-rc2) 22.7.0 snapshot. It's still syncing for a day or two I think. I'll report back in a few days.

[2022-07-26 14:07] jflo opened #4169 "StackOverflow on recursive call to MergeCoordinator.isDecendantOf()"
Kiln is now old enough (over 200k blocks since TTD) that the recursive nature of this method will blow stack:

│ java.lang.StackOverflowError                                                                                                                                                                                 ││     at org.hyperledger.besu.ethereum.rlp.RLPEncodingHelpers.isSingleRLPByte(RLP

[2022-07-26 14:34] shemnon commented on #4167
Sounds reasonable.  I prefer #2, where the gas limit comes from the `gasLimit` in the genesis block of the test or `currentGasLimit` from the env where the test is not block based.  This opens up the tests to test behavior when gas limits are violated, setting it to Long.MAX_VALUE prevents block OOG from tripping.

[2022-07-26 14:54] jflo commented on #4169
Example of recursion on kiln:

│ besu-node 2022-07-26 13:57:51.786+00:00 | vert.x-worker-thread-0 | DEBUG | MergeCoordinator | checking if block 683190:0x724b715167e6e6bfcfd6bba72d4fe53eaaa9a713bb3019a9ffc4c86f1c75f7db is ancestor of ││  898382:0xe942c75bf533e1d5f782f9609c3cd4ef3fdb8d4f48b08b8edaabde6d14bb7712

[2022-07-26 15:29] matt-nelson-csi commented on #4084
Hi @ronaldjmaas - have you been able to reproduce your issue on the latest release candidate (RC2)? If so, I would like to close this issue. Thank you!

[2022-07-26 15:33] ronaldjmaas commented on #4084
I was not able to reproduce this issue with RC2

[2022-07-26 15:33] #4084 closed

[2022-07-26 15:48] Filter94 commented on #4167
@shemnon The PR is ready, please take a look

[2022-07-26 15:55] iamhsk commented on #4141
@daniellehrner This might be useful for our logging updates

[2022-07-26 16:18] #4159 closed

[2022-07-26 17:25] #4157 closed

[2022-07-26 17:58] #4128 closed

[2022-07-26 18:00] garyschulte commented on #4057
Resolved for rocketpool (docker) users by #4126

[2022-07-26 18:00] #4057 closed

[2022-07-26 18:18] #4167 closed

[2022-07-26 18:23] jflo commented on #4169
If you can reproduce this, I'm curious to see complete logs from startup to stack error for both Besu and whatever CL was used. I'm curious how besu tried to determine the descendant of a block that was 200k blocks past the finalized one.  Thats a weird edge case that I'm not entirely sure how to reproduce.

[2022-07-26 21:47] garyschulte opened #4172 "Implement override to force engine-api in the absence of TTD"
### Description
In order to smooth the preparations for the merge, consensus is that we want execution clients to enable the engine API even in the absence of merge parameters.  This is in essence a re-enabling of the `--engine-rpc-enabled` api flag removed in #3875

### Acceptance Criteria
* make the engine-api available in the absence of merge configs
* ensure rational behavior pre-TTD calls to

[2022-07-27 01:14] pinges commented on #4119
Had a goerli node running for some time where I added a debug log to see which clients send messages that are bigger than 10MB
2022-07-26 16:50:54.367+10:00 | nioEventLoopGroup-3-7 | DEBUG | EthProtocolManager | Peer PeerId 0xc80015ba29d42f15e7f0b3a4f9f8c38f447a080b537ac8165386e72b8d7b82c0b1aa0935ea6185deffb1de6f9c1e228e48e075aa3944637f8335ce4a703e1ccf, reputation PeerReputation 100, validated? tr

[2022-07-27 01:22] pinges commented on #4119
22.4.3 was released on the 17th of June 2022, @mbaxter PR for limiting the size of outgoing messages was merged on the 6th of July!

[2022-07-27 01:55] garyschulte opened #4176 "Better error when unable to start due to port conflict for json-rpc services"
### Description
when starting besu, if the configured rpc port is not available, besu will exit with a not very helpful error.  This applies to the rpc http port, the engine port, and web service port

### Acceptance Criteria
* besu should log a better error when it is unable to start json rpc service(s) on the configured port

### Steps to Reproduce (Bug)
1. start 2 besu instances with the same c

[2022-07-27 03:12] #4169 closed

[2022-07-27 13:46] #3943 closed

[2022-07-27 13:56] jflo commented on #3890
Current case can be seen on Goerli Shadowfork 5.  The Prysm(bonsai) and Teku (bonsai) instances are the only ones that are submitting proposals with transactions, and has txs in their pools.  They both had been restarted at some point more than 13 hours after TTD.

[2022-07-27 17:28] garyschulte commented on #4070
fixed with #4175

[2022-07-27 17:28] #4070 closed

[2022-07-27 20:17] matt-nelson-csi commented on #4143
Closing for Gary's implementation

[2022-07-27 20:17] #4143 closed

[2022-07-27 20:28] matt-nelson-csi commented on #4123
@frankisawesome this is great! Let me know if we can assist.

[2022-07-27 20:39] matt-nelson-csi commented on #3988
This issue should be fixed by #4116 ! If you are still experiencing this on the latest releases, please let us know.

[2022-07-27 20:39] #3988 closed

[2022-07-27 20:40] matt-nelson-csi commented on #4015
This does not appear to be a fatal error. Have you experienced this when trying a re-sync? Or on the latest images?

[2022-07-27 20:40] #4015 closed

[2022-07-27 20:43] matt-nelson-csi commented on #3955
Closing this as fixed, via RC3 and #4175. Please let us know if the fix is _not_ working in the latest release.

[2022-07-27 20:52] matt-nelson-csi commented on #3855
Closed as ancient Bonsai issue

[2022-07-27 20:52] #3855 closed

[2022-07-27 21:12] matt-nelson-csi opened #4182 "Reduce noise of logs for Transition pivot selector and pivot selector for finalized block and FastSyncActions to TRACE"
### Description
As a user, I want more coherent logs that do not get spammed from the CL during a Snap Sync. The following logs should be toned down to TRACE.

2022-07-27 17:05:13.948-04:00 | nioEventLoopGroup-3-2 | INFO  | FastSyncActions | Successfully downloaded pivot block header by hash: 12676158 (0x3f762cb5232c908749e23efa35a06ed6790850549a319697c83c8f8bb3999cb7)
2022-07-27 17:05:13.952-04:0

[2022-07-27 21:24] non-fungible-nelson opened #4183 "Logging improvement around FastSyncDownloader exception"
### Description
As a user, I do not want to see a stack trace exhibited when syncing when attempting to retry a failing task maximum number of times (pipeline will pick back up task regardless and retry, so this stack trace is printed over and over again until it works).

2022-07-27 09:37:51.125-04:00 | nioEventLoopGroup-3-2 | ERROR | FastSyncDownloader | Encountered an unexpected error during fas

[2022-07-27 21:24] matt-nelson-csi opened #4184 "Logging improvement around FastSyncDownloader exception"
### Description
As a user, I do not want to see a stack trace exhibited when syncing when attempting to retry a failing task maximum number of times (pipeline will pick back up task regardless and retry, so this stack trace is printed over and over again until it works).

2022-07-27 09:37:51.125-04:00 | nioEventLoopGroup-3-2 | ERROR | FastSyncDownloader | Encountered an unexpected error during fas

[2022-07-27 21:45] matt-nelson-csi commented on #3954
Closing as fixed!

[2022-07-27 21:46] matt-nelson-csi commented on #4184
closing as duplicated ... issue with zenhub

[2022-07-27 21:46] #4184 closed

[2022-07-27 22:23] #4182 closed

[2022-07-27 22:50] jframe opened #4187 "Remove QBFT reference tests"
Remove the QBFT reference tests as these don't provide full coverage of QBFT and are not official reference tests, they aren't used by any other clients. The same test scenarios are already covered by the existing unit and integration tests in the QBFT implementation.

[2022-07-27 23:16] matt-nelson-csi commented on #4141
@gezero as well RE backwards sync.

[2022-07-27 23:38] macfarla commented on #4050
blocked by #4140 but the workaround to set fast-sync-min-peers=1 should help

[2022-07-28 00:45] ajsutton commented on #3954
Reopening this one. It's still printing on every restart with 22.7.0-RC3 and the referenced PR doesn't seem to be addressing it (and should have been in RC3).

[2022-07-28 00:49] garyschulte commented on #3954
those pandas are persistent.

[2022-07-28 01:55] iamhsk opened #4188 "ConcurrentModificationException from reattemptPendingPeers"
User reported an issue on Discord. See stack trace here: https://pastebin.com/2zaa4JEd
Logs: https://pastebin.com/64LBAv6s
Discord message: https://discord.com/channels/905194001349627914/938504958909747250/1001287161007571035

[2022-07-28 01:55] macfarla commented on #4188
[code]

[2022-07-28 01:58] iamhsk commented on #3981
duplicate of #4054

[2022-07-28 01:58] #3981 closed

[2022-07-28 04:35] macfarla commented on #4110
https://github.com/ConsenSys/teku/blob/ce6e13e32f2c5029aa05895f400c00a9c72a3f38/networking/p2p/src/main/java/tech/pegasys/teku/networking/p2p/connection/TargetPeerRange.java#L23

[2022-07-28 04:40] macfarla commented on #4110
Can we replace Besu's PeerRequirement functional interface (it's only used in one spot plus tests) with something like Teku's TargetPeerRange - this also would be easy to test

[2022-07-28 08:03] fab-10 commented on #4188
I think this a duplicate of https://github.com/hyperledger/besu/issues/3491

[2022-07-28 10:04] matkt commented on #4140
@ajsutton  There's also little point in requesting the same pivot block from the same peers in such rapid succession. not sure I understand this. the principle is that we are not asking for the same pivot block. we go back to find a common block. but on the other hand this technique is no longer really useful with snapsync and post merge

[2022-07-28 14:04] mbaxter commented on #4119
If we're only seeing this problem with Besu nodes, we should probably re-enable this limit now or in a few months time.

Another safe option, which would allow us to re-enable this limit if needed, would be to:
* Split up the [`--Xeth-max-message-size`](https://github.com/mbaxter/besu/blob/f3042590b11cb7b3fa6fce328f8b89232dd38f75/besu/src/main/java/org/hyperledger/besu/cli/options/unstable/EthProt

[2022-07-28 14:19] remyroy opened #4191 "Warning about missing 'libjemalloc.so' with 22.7.0-RC3 on Ubuntu 22.04 server"
### Description
As a user of Besu, I don't expect to see any error message when starting Besu so that I have a high confidence about my usage of this software.

### Acceptance Criteria
* No error message is shown when starting Besu.

### Steps to Reproduce (Bug)
1. Download Besu 22.7.0-RC3 on Ubuntu 22.04 server
2. Install libjemalloc with `sudo apt install libjemalloc2`
3. Install [Eclipse Tumeri

[2022-07-28 14:35] Dzejkop opened #4192 "Race condition in `JsonRpcExecutor`"
### Description
We started noticing that when we're frequently using the `eth_call` method, every now and then it would fail unexpectedly with the `Block not found` error.

After observing the logs I believe the issue is a race condition:

Logs from the time the error occured:
[code]

Logs from other calls to `eth_call` that didn't fail:
[code]

[code]

[code]

the fact that the error case has `Bf

[2022-07-28 15:05] daniellehrner commented on #4191
@remyroy Could you try to install `libjemalloc-dev`?  We use that one in the docker images and don't see any error message.

[2022-07-28 15:20] remyroy commented on #4191
It seems like installing the `libjemalloc-dev` install the `libjemalloc2` creates the required symlink on Ubuntu 22.04.

[code]

It also fixes this issue. This can be closed.

[2022-07-28 15:24] ronaldjmaas commented on #4113
Successfully synced main net with 22.7.0-rc3. Thank you for fixing this issue

[2022-07-28 15:24] #4113 closed

[2022-07-28 17:05] garyschulte commented on #4191
I think we are going to keep this issue open and use it to track a better UX for this error.  The benefits of using jemalloc are substantial, so it is worth a better and more actionable error.

[2022-07-28 19:49] ladidan opened #4193 "Discrepancy in tracked peers"
### Description
I've recently noticed a significant difference in logged peer count per INFO logs (e.g. [...] Peers: 40) vs. various prometheus/grafana metrics-dashboards (querying the API) which after a certain amount of peer discovery time settle at around the max-peer defined number (e.g. 25).

### Versions (Add all that apply)
22.7.0-RC3 on Ubuntu 22.04 server

[2022-07-28 21:41] #4163 closed

[2022-07-28 22:53] #3336 closed

[2022-07-28 23:37] ajsutton commented on #4140
Yeah I think I misread the log. Somehow I thought it was requesting exactly the same pivot block repeatedly but at least the part of the log quoted is definitely moving to different slots.  I'm not sure that going back to find a common block because of a single peer is a sensible strategy pre or post merge - its most likely that one peer is just wrong and we should ignore it.

[2022-07-28 23:57] iamhsk commented on #3491
From another user:  stack trace here: https://pastebin.com/2zaa4JEd
Logs: https://pastebin.com/64LBAv6s
Discord message: https://discord.com/channels/905194001349627914/938504958909747250/1001287161007571035

[2022-07-29 00:01] iamhsk commented on #4188
Closing this since it is a duplicate

[2022-07-29 00:01] #4188 closed

[2022-07-29 05:07] pinges opened #4197 "Investigate and optimise to avoid duplicate requests when requesting parents"
### Description
It seems that Besu tries to retrieve the same parent block multiple times.
Version tested: 22.7.0-RC3
Network tested: goerli
Logs: https://app.logz.io/#/goto/2860f315aa951c7afb3bd193995efe39?switchToAccountId=172317
Extract
[code]

[2022-07-29 14:48] matkt opened #4199 "We need access to a worldstate image of the last 128 blocks with bonsai"
With bonsai we have the worldstate of the head and tries logs to be able to rollback or rollforward the worldstate to an old/recent block. This technique with trielogs works very well in the case of reorgs but has limitations.

In particular with the snapsync as a server we must be able to provide the nodes of the worldstate of the last 128 blocks. If we have to rollback after every request it wil

[2022-07-29 16:14] #3890 closed

[2022-08-01 00:32] jframe commented on #4129
@eu09 Did this solve your issue?

[2022-08-01 05:05] pinges opened #4201 "Losing 25 useful peers within 11 seconds"
This node was running fine on Goerli when it lost 25 useful peers within 11 seconds.

"Useful" peers can be identified by a reputation > 100 (see logs) . The reputation starts at 100 and with every useful response is incremented by 1 (is decremented for other behaviour).

Grepped from the log:
[code]

The attached file called "goodPeersDisconnecting.log" contains the log for the 11 seconds cleaned

[2022-08-01 05:05] pinges commented on #4201
I have the original log file available, but it is 11GB in size.

[2022-08-01 05:17] pinges commented on #4201
Disconnects with reason TIMEOUT from full log file:
`2022-07-28 04:47:42.502+00:00 | EthScheduler-Timer-0 | DEBUG | AbstractPeerConnection | Disconnecting connection 685122028, reason 0x0b TIMEOUT
2022-07-28 06:07:55.932+00:00 | nioEventLoopGroup-3-5 | DEBUG | AbstractPeerConnection | Disconnecting connection 404130061, reason 0x0b TIMEOUT
2022-07-28 06:35:48.213+00:00 | EthScheduler-Timer-0 | DEB

[2022-08-01 14:04] nwasiqUC commented on #3732
I'm having this same issue. Connect blockscout to my hyperledger besu deployment and the node isn't able to handle it.

Even reduced the number of concurrent requests in the fetcher but no luck. @rinor were you able to find a fix for this?

[2022-08-01 16:40] matt-nelson-csi commented on #4191
Hi docs team - please ping me when you pick this up

[2022-08-01 18:28] garyschulte opened #4202 "Relax fast-sync-min-peers"
### Description
Requiring a minimum of 5 peers before beginning a fast-sync has been deemed too costly, especially on low participation networks.  Similarly, post-merge there is no need for a peer minimum at all, since the consensus layer directs besu to the exact hash that should be used for the pivot block for a fast-sync via the finalized head.

This PR suggests we should relax the minimum peer

[2022-08-01 18:57] garyschulte opened #4203 "Make snap sync the default sync method for named ethereum networks"
### Description
Move to snap sync as the default for ethereum mainnet and test networks

### Acceptance Criteria
* update network defaults
* update corresponding documentation

[2022-08-01 20:24] #3954 closed

[2022-08-01 22:11] MysticRyuujin commented on #4172
I just pulled the latest `develop` docker image and I'm getting this trying to run on mainnet. The error seems to happen every time my Lighthouse node tries to talk to it:
[code]

[2022-08-01 23:07] macfarla commented on #4110
https://github.com/hyperledger/besu/pull/4200

[2022-08-01 23:16] #4110 closed

[2022-08-01 23:20] iamhsk commented on #4193
Hi @ladidan, thank you for opening an issue. Could you answer the following questions to help us investigate this further? Could you tell which network you were running besu on? And could you provide us a log extract?

[2022-08-01 23:20] macfarla commented on #4054
PR LFR https://github.com/hyperledger/besu/pull/4200

[2022-08-01 23:42] matt-nelson-csi commented on #4172
Reopening for above bug - can re-close with investigation @garyschulte

[2022-08-02 07:57] panicstyle commented on #3938
Attach config.toml below.

genesis-file="/config/genesis.json"
node-private-key-file="/opt/besu/keys/nodekey"
logging="DEBUG"
data-path="/opt/besu/data"
host-allowlist=["*"]
min-gas-price=0
revert-reason-enabled=true

# rpc
rpc-http-enabled=true
rpc-http-host="0.0.0.0"
rpc-http-port=8545
rpc-http-cors-origins=["*"]

# ws
rpc-ws-enabled=true
rpc-ws-host="0.0.0.0"
rpc-ws-port=8546

# graphql
graphql

[2022-08-02 08:02] panicstyle commented on #3938
and attach debug log of rpcnode

`
{"timestamp":"2022-08-02T08:01:18,350","container":"3c603695dcda","level":"DEBUG","thread":"nioEventLoopGroup-3-7","class":"SnapProtocolManager","message":"Disconnect - Outbound - 0x UNKNOWN - PeerInfo{version=5, clientId='besu/v22.4.3/linux-x86_64/openjdk-java-11', capabilities=[eth/62, eth/63, eth/64, eth/65, eth/66, istanbul/100, snap/1], port=30303, nodeId=0x

[2022-08-02 21:05] garyschulte opened #4208 "Bugfix: sync crossing merge boundary failing pre-merge header validation rules"
### Description
#4190 introduced a regression where a batch of blocks that cross TTD can fail to validate.  For example, if 200 blocks are fetched to import and 100 of them are pre-merge, and 100 post-merge, the pre-merge block validator will get selected because we have not yet imported a block that crosses the terminal total difficulty.

### Acceptance Criteria
* fast sync block imports should u

[2022-08-03 00:45] #4108 closed

[2022-08-03 11:51] ladidan commented on #4193
- tested on Goerli
- log would look like e.g.: `EthScheduler-Workers-3 | INFO  | PersistBlockTask | Imported #7,339,454 / 26 tx / 0 om / 10,402,057 (34.7%) gas / (0x1afc02c542fc345d3286121f7ce25d16103262c3dcfcc832eed303b3a65b780b) in 0.232s. **Peers: 121**`

whereas the grafana dashboard shows 25 current peers (via the besu API)

[2022-08-03 12:31] fab-10 opened #4211 "DynamicPivotBlockManager spawning to fast"
### Description

it happens that DynamicPivotBlockManager is selecting many times in a second, and the log if full of these line

`"thread":"EthScheduler-Services-1 (checkNewPivotBlock)","class":"DynamicPivotBlockManager","message":"Select new pivot block 12676530 0x036190332f8ac61e7ab8209e1fb611571948c7cff6d19f5fd1ee4fc48026d9e4","throwable":""}`

see the full log attached [DynamicPivotBlockManag